openapi: 3.2.0
info:
  title: Open Finance Reports API
  description: 'OpenAPI specification for Finicity APIs.


    Open Finance (formerly Open Banking) solutions in the US are provided by

    Finicity, a Mastercard company.'
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/open-finance-us/documentation/support/
  version: 1.43.0
servers:
- url: https://api.finicity.com
  description: Production
security:
- FinicityAppKey: []
  FinicityAppToken: []
tags:
- name: Reports
  description: Fetch generated reports when ready
paths:
  /decisioning/v1/reports/{reportId}/partners:
    post:
      tags:
      - Reports
      summary: Report Reissue
      description: '

        Report Reissue is a billable service that enables authorized third parties - such as investors, mortgage insurers, QC agencies, and loan management systems - to securely access an existing CRA report originally generated by another Mastercard partner.

        To retrieve a report, the requesting partner must provide the report ID which should be obtained from the partner who originally generated the report and the permissible purpose code which should match the original purpose the report was generated for. Note: This is not required today but will be changed to be required by April 30, 2026.

        Report data can either be retrieved as a JSON document or a PDF file. To specify the format required, set the Accept request header to either application/json or application/pdf. If neither is set, the report format will be returned as a JSON document.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: ReportReissue
      parameters:
      - $ref: '#/components/parameters/ReportIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/LenderRequest'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v3/reports/{reportId}:
    get:
      tags:
      - Reports
      summary: Get Report by Report ID
      description: "Get a report that has been generated by a previous call to one of the\n Generate Report services.\n\n\n The report's `status` field contains \"inProgress\", \"failure\", or\n \"success\". If the status shows \"inProgress\", the client app should wait\n 20 seconds and then call this API again.\n\n\n Report data can either be retrieved as a JSON document or a PDF\n file.  To specify the format required, set the _Accept request header_\n to either **application/json** or **application/pdf**. If neither is\n set, the report format will be returned as a JSON document.\n\n\n _Supported regions_: ![\U0001F1FA\U0001F1F8](https://flagcdn.com/20x15/us.png)"
      operationId: GetReportById
      parameters:
      - $ref: '#/components/parameters/ReportIdParameter'
      - $ref: '#/components/parameters/OnBehalfOfParameter'
      - $ref: '#/components/parameters/PurposeParameter'
      requestBody:
        $ref: '#/components/requestBodies/LenderRequest'
      responses:
        '200':
          $ref: '#/components/responses/GetReportWithFirstThirdPartyResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v3/customers/{customerId}/reports/{reportId}:
    get:
      tags:
      - Reports
      summary: Get Report by Customer
      description: 'Get a report that has been generated by a previous call to one of the Generate Report services.


        The report''s `status` field contains "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.


        Report data can either be retrieved as a JSON document or a PDF file.  To specify the format required, set the _Accept request header_ to either **application/json** or **application/pdf**. If neither is set, the report format will be returned as a JSON document.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: GetReportByCustomer
      parameters:
      - $ref: '#/components/parameters/CustomerIdParameter'
      - $ref: '#/components/parameters/ReportIdParameter'
      - $ref: '#/components/parameters/OnBehalfOfParameter'
      - $ref: '#/components/parameters/PurposeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v3/consumers/{consumerId}/reports/{reportId}:
    post:
      tags:
      - Reports
      summary: Get Report by Consumer
      deprecated: true
      description: 'Get a report that has been generated by a previous call to one of the Generate Report services.


        The report''s `status` field contains "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.


        Report data can either be retrieved as a JSON document or a PDF file.  To specify the format required, set the _Accept request header_ to either **application/json** or **application/pdf**. If neither is set, the report format will be returned as a JSON document.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: GetReportByConsumer
      parameters:
      - $ref: '#/components/parameters/PurposeParameter'
      - $ref: '#/components/parameters/ConsumerIdParameter'
      - $ref: '#/components/parameters/ReportIdParameter'
      - $ref: '#/components/parameters/OnBehalfOfParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/reports/{reportId}:
    get:
      tags:
      - Reports
      summary: Get Report by Report ID
      description: 'Get a report that has been generated by a previous call to one of the Generate Report services.


        The report''s `status` field contains "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.


        Report data can either be retrieved as a JSON document or a PDF file.  To specify the format required, set the _Accept request header_ to either **application/json** or **application/pdf**. If neither is set, the report format will be returned as a JSON document.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: GetReportByReportId
      parameters:
      - $ref: '#/components/parameters/PurposeParameter'
      - $ref: '#/components/parameters/ReportIdParameter'
      - $ref: '#/components/parameters/OnBehalfOfParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v1/customers/{customerId}/reports:
    get:
      tags:
      - Reports
      summary: Get List of Reports by Customer
      description: 'Get all reports that have been generated by previous calls to Generate Report services for the given customer.


        The `status` fields in the returned list contain "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: GetReportsByCustomerId
      parameters:
      - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
  /decisioning/v1/consumers/{consumerId}/reports:
    get:
      tags:
      - Reports
      summary: Get List of Reports by Consumer
      description: 'Get all reports that have been generated by previous calls to Generate Report services for the given consumer.


        The `status` fields in the returned list contain "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: GetReportsByConsumerId
      parameters:
      - $ref: '#/components/parameters/ConsumerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
  /decisioning/v1/partners/{partnerId}/billing/reseller:
    get:
      tags:
      - Reports
      summary: Get Billing Summary for Partner
      operationId: getResellerBillingReport
      description: Use the Partner ID to fetch all reports generated by a partner. A partner can get their own reports and a reseller partner can get the reports for their customer’s partner account as long as the partner is set up with them as the reseller.
      parameters:
      - $ref: '#/components/parameters/PartnerIdParameter'
      - name: startDate
        in: query
        required: true
        description: The earliest date to be analyzed in this report. The range between startDate and endDate must be 31 days or less.
        schema:
          type: integer
          example: 1609459200
      - name: endDate
        in: query
        required: true
        description: The latest date to be analyzed in this report
        schema:
          type: integer
          example: 1612137600
      - name: size
        in: query
        required: false
        description: The size of the results returned per page. By default, this is 100 results per page and can be no more than 1000 results per page.
        schema:
          type: integer
          default: 100
          maximum: 1000
          example: 100
      - name: page
        in: query
        required: false
        description: The page to be viewed. Zero based index.
        schema:
          type: integer
          default: 0
          example: 0
      - name: viewTestingReports
        in: query
        required: false
        description: Whether reports for testing customer types are included. If not passed, it is defaulted to only return reports for active customer types.
        schema:
          type: boolean
          default: false
          example: false
      responses:
        '200':
          $ref: '#/components/responses/GetBillingResellerReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
components:
  examples:
    PayStatementReportExample:
      summary: Pay Statement Report
      value:
        id: y0ejausptjg1-paystatement
        customerId: 1003413624
        consumerId: 4089f408963dd6b90b28a935e9903c0e
        consumerSsn: '6789'
        consumerDetails:
          id: 3f7ff2cf0ffb3d0cd59875e070c9b1d4
          firstName: John
          middleName: Doe
          lastName: Jane
          address: 123 Marple Street
          city: Anytown
          state: PA
          zip: '17101'
          phone: '5551234567'
          ssn: '1234'
          email: john.doe@example.com
        disputeStatement: Invalid data present.
        requesterName: Decisioning API
        endUser:
          name: ABC Apartments
          address: 123 Main St
          city: Murray
          state: UT
          zip: '84123'
          phone: 555-2106
          email: customerservice@example.com
          url: example.com
        requestId: 8wy5htqg8u
        type: paystatement
        status: success
        createdDate: 1588350269
        constraints:
          paystatementReport:
            assetIds:
            - 6f8fb0a0-e882-4f57-b672-cf53f1397581
            extractEarnings: true
            extractDeductions: false
            extractDirectDeposit: true
          reportCustomFields:
          - label: loanID
            value: '12345'
            shown: true
          - label: trackingID
            value: '5555'
            shown: true
          - label: loanType
            value: car
            shown: false
          - label: vendorID
            value: 1613aa23
            shown: true
          - label: vendorName
            value: PSC Finance
            shown: false
        customerType: active
        title: Mastercard Open Banking Pay Statement Extraction Report
        startDate: 1572625469
        endDate: 1588350269
        portfolioId: spd8aehuw63i-10-port
        reportStyle: paystatement
        numberOfBillableAssets: 1
        assetIds:
        - 6f8fb0a0-e882-4f57-b672-cf53f1397581
        payStatementTxVerifyDaoList:
          payPeriod: LastPayPeriod
          billable: true
          assetId: 6f8fb0a0-e882-4f57-b672-cf53f1397581
          payDate: 1559241000
          startDate: 1557513000
          endDate: 1558722600
          netPayCurrent: 1802.22
          netPayYTD: 36000
          grossPayCurrent: 24200
          grossPayYTD: 72600
          payrollProvider: Finicity
          employer:
            name: Rocket Surgery
          employee:
            name: Patrick Purchaser
          payStat:
            name: regular 1
            type: regular
            description: regular income
            amountCurrent: 6000
            amountYTD: 18000
          deductions:
          - name: '401'
            description: 401k
            amountCurrent: 1744.61
            amountYTD: 1744.6
            type: 401 Deductions
          directDeposits:
          - financialInstitutionName: America First
            accountType: Checking
            amountCurrent: 1744.61
            accountLastFour: XX34
            description: Payroll
    MissingFieldExample:
      value:
        code: '10005'
        message: Missing parameter (partnerId)
    PaymentRiskInsightsBusinessReportFtcResponseExample:
      value:
        id: sd1j45yn37wr-pribftc
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        requesterName: Decisioning API
        endUser:
          name: ABC Apartments
          address: 123 Main St
          city: Murray
          state: UT
          zip: '84123'
          phone: 1-801-443-7288
          email: customerservice@abcapartments.com
          url: abcapartments.com
        title: Mastercard Open Banking Payment Risk Insights
        disputeStatement: Invalid data present.
        businessDetails:
          businessId: 123
          name: Name1
          address:
            addressLine1: 2020 State Street
            addressLine2: Suite 301
            city: Salt Lake City
            state: Utah
            country: USA
            postalCode: 84116
        constraints:
          analyticsReportData:
            forCraPurpose: false
            forFtcPurpose: true
            applicantIsPersonalGuarantor: false
            timeIntervalTypes:
            - HISTORICALLY
        type: pribftc
        status: success
        createdDate: 1579819592
        reportRefreshNumber: 2
        originalReportCreatedDate: 1607450357
        startDate: 1512594823
        endDate: 1575666823
        days: 730
        institutions:
        - id: '102105'
          name: FinBank Profiles
          urlHomeApp: http://www.finbank.com
          accounts:
          - id: '1111'
            ownerName: PATRICK & LORRAINE PURCHASER
            ownerAddress: 7195 BELMONT ST. PARLIN, NJ 08859
            ownerAsOfDate: 1614880526
            name: Checking
            number: XX1111
            type: checking
            aggregationStatusCode: '0'
            currentBalance: 100000
            availableBalance: 1000
            balanceDate: 1614880526
            transactions:
            - id: '00000001'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: '00000002'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            analytics:
            - transactionalAttributes:
              - attributeName: CASH_OUTFLOW
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: CASH_INFLOW
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 5050
                    count: 100
                    mean: 50.5
                    median: 50.5
                    min: 1
                    max: 100
                    standardDeviation: 29.011491975882016
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds:
                - '10'
                - '72'
                - '78'
                - '16'
                - '25'
                - '67'
                - '27'
                - '15'
                - '36'
                - '75'
                - '88'
                - '57'
                - '51'
                - '30'
                - '66'
                - '87'
                - '61'
                - '6'
                - '82'
                - '48'
                - '40'
                projectedValues: []
                streamIds:
                - e6dd352d-67d3-4a6c-a7a0-68f1e994bb22
                streamConfidences: null
              - attributeName: INSURANCE_SPENDING
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: TAX_PAYMENTS
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: DISCRETIONARY_SPENDING
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: NONDISCRETIONARY_SPENDING
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: RECURRING_EXPENSES
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: RECURRING_LOAN_PAYMENTS
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: NSF_FEE_CHARGES
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              stateAttributes:
              - attributeName: MISSED_RECURRING_EXPENSES
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 0
                    count: 732
                    mean: 0
                    median: 0
                    min: 0
                    max: 0
                    standardDeviation: 0
                    comparedToCohorts: []
                    beginningValue: 0
                    endingValue: 0
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              - attributeName: MISSED_RECURRING_LOAN_PAYMENTS
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 0
                    count: 732
                    mean: 0
                    median: 0
                    min: 0
                    max: 0
                    standardDeviation: 0
                    comparedToCohorts: []
                    beginningValue: 0
                    endingValue: 0
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              - attributeName: PAYMENT_RISK_SCORE
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 19825
                    count: 732
                    mean: 27.083333333333332
                    median: 24
                    min: -1
                    max: 46
                    standardDeviation: 8.739575902668523
                    comparedToCohorts: []
                    beginningValue: -1
                    endingValue: 24
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              - attributeName: ASSET_BALANCE
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: -900726.9199999999
                    count: 732
                    mean: -1230.501256830601
                    median: -1192.56
                    min: -3804.56
                    max: 1234.44
                    standardDeviation: 1628.527991127309
                    comparedToCohorts: []
                    beginningValue: -3804.56
                    endingValue: 1234.44
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              streams:
              - id: e6dd352d-67d3-4a6c-a7a0-68f1e994bb22
                payor: '0'
                payee: John Smith
                cadence: 7
                status: inactive
                recency: 118
                earliestObservedDate: '2022-09-18T00:00:00'
                latestObservedDate: '2024-09-13T00:00:00'
                count: 100
                sum: 5050
                min: 1
                max: 100
                mean: 50.5
                median: 50.5
                standardDeviation: 29.011491975882016
                minimumCadence: 0
                maximumCadence: 58
                medianCadence: 4
                modeCadence: 2
                standardDeviationCadence: 9.261506907846133
                transactionIds:
                - '0'
                - '1'
                - '10'
                - '11'
                - '12'
                - '13'
                - '14'
                - '15'
                - '16'
                - '17'
                - '18'
                - '19'
                - '2'
                - '20'
                - '21'
                - '22'
                - '23'
                - '24'
                - '25'
                - '26'
                - '27'
                - '28'
                - '29'
                - '3'
                - '30'
          - id: '2222'
            ownerName: PATRICK & LORRAINE PURCHASER
            ownerAddress: 7195 BELMONT ST. PARLIN, NJ 08859
            ownerAsOfDate: 1614880526
            name: Checking
            number: XX1111
            type: checking
            aggregationStatusCode: '0'
            currentBalance: 100000
            availableBalance: 1000
            balanceDate: 1614880526
            transactions:
            - id: '00000005'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: '00000006'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            analytics:
            - transactionalAttributes:
              - attributeName: CASH_OUTFLOW
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: CASH_INFLOW
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 5050
                    count: 100
                    mean: 50.5
                    median: 50.5
                    min: 1
                    max: 100
                    standardDeviation: 29.011491975882016
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds:
                - '10'
                - '72'
                - '78'
                - '16'
                - '25'
                - '67'
                - '27'
                - '15'
                - '36'
                - '75'
                - '88'
                - '57'
                - '51'
                - '30'
                - '66'
                - '87'
                - '61'
                - '6'
                - '82'
                - '48'
                - '40'
                projectedValues: []
                streamIds:
                - e6dd352d-67d3-4a6c-a7a0-68f1e994bb22
                streamConfidences: null
              - attributeName: INSURANCE_SPENDING
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: TAX_PAYMENTS
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: DISCRETIONARY_SPENDING
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: NONDISCRETIONARY_SPENDING
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: RECURRING_EXPENSES
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: RECURRING_LOAN_PAYMENTS
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              - attributeName: NSF_FEE_CHARGES
                aggregatedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: null
                    count: 0
                    mean: null
                    median: null
                    min: null
                    max: null
                    standardDeviation: null
                    comparedToCohorts: []
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                transactionIds: []
                projectedValues: []
                streamIds: []
                streamConfidences: null
              stateAttributes:
              - attributeName: MISSED_RECURRING_EXPENSES
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 0
                    count: 732
                    mean: 0
                    median: 0
                    min: 0
                    max: 0
                    standardDeviation: 0
                    comparedToCohorts: []
                    beginningValue: 0
                    endingValue: 0
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              - attributeName: MISSED_RECURRING_LOAN_PAYMENTS
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 0
                    count: 732
                    mean: 0
                    median: 0
                    min: 0
                    max: 0
                    standardDeviation: 0
                    comparedToCohorts: []
                    beginningValue: 0
                    endingValue: 0
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              - attributeName: PAYMENT_RISK_SCORE
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: 19825
                    count: 732
                    mean: 27.083333333333332
                    median: 24
                    min: -1
                    max: 46
                    standardDeviation: 8.739575902668523
                    comparedToCohorts: []
                    beginningValue: -1
                    endingValue: 24
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              - attributeName: ASSET_BALANCE
                reportedByTimePeriods:
                - timeIntervalType: HISTORICALLY
                  periods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    sum: -900726.9199999999
                    count: 732
                    mean: -1230.501256830601
                    median: -1192.56
                    min: -3804.56
                    max: 1234.44
                    standardDeviation: 1628.527991127309
                    comparedToCohorts: []
                    beginningValue: -3804.56
                    endingValue: 1234.44
                  cohortBenchmarkPeriods:
                  - startDate: '2022-09-18'
                    endDate: '2024-09-18'
                    cohortValues: []
                projectedValues: []
              streams:
              - id: e6dd352d-67d3-4a6c-a7a0-68f1e994bb22
                payor: '0'
                payee: John Smith
                cadence: 7
                status: inactive
                recency: 118
                earliestObservedDate: '2022-09-18T00:00:00'
                latestObservedDate: '2024-09-13T00:00:00'
                count: 100
                sum: 5050
                min: 1
                max: 100
                mean: 50.5
                median: 50.5
                standardDeviation: 29.011491975882016
                minimumCadence: 0
                maximumCadence: 58
                medianCadence: 4
                modeCadence: 2
                standardDeviationCadence: 9.261506907846133
                transactionIds:
                - '0'
                - '1'
                - '10'
                - '11'
                - '12'
                - '13'
                - '14'
                - '15'
                - '16'
                - '17'
                - '18'
                - '19'
                - '2'
                - '20'
                - '21'
                - '22'
                - '23'
                - '24'
                - '25'
                - '26'
                - '27'
                - '28'
                - '29'
                - '3'
                - '30'
        customerAnalytics:
          transactionalAttributes:
          - attributeName: CASH_OUTFLOW
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          - attributeName: CASH_INFLOW
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: 5050
                count: 100
                mean: 50.5
                median: 50.5
                min: 1
                max: 100
                standardDeviation: 29.011491975882016
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds:
            - '10'
            - '72'
            - '78'
            - '16'
            - '25'
            - '67'
            - '27'
            - '15'
            - '36'
            - '75'
            - '88'
            - '57'
            - '51'
            - '30'
            - '66'
            - '87'
            - '61'
            - '6'
            - '82'
            - '48'
            - '40'
            - '45'
            - '96'
            - '95'
            projectedValues: []
            streamIds:
            - e6dd352d-67d3-4a6c-a7a0-68f1e994bb22
            streamConfidences: null
          - attributeName: INSURANCE_SPENDING
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          - attributeName: TAX_PAYMENTS
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          - attributeName: DISCRETIONARY_SPENDING
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          - attributeName: NONDISCRETIONARY_SPENDING
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          - attributeName: RECURRING_EXPENSES
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          - attributeName: RECURRING_LOAN_PAYMENTS
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          - attributeName: NSF_FEE_CHARGES
            aggregatedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: null
                count: 0
                mean: null
                median: null
                min: null
                max: null
                standardDeviation: null
                comparedToCohorts: []
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            transactionIds: []
            projectedValues: []
            streamIds: []
            streamConfidences: null
          stateAttributes:
          - attributeName: MISSED_RECURRING_EXPENSES
            reportedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: 0
                count: 732
                mean: 0
                median: 0
                min: 0
                max: 0
                standardDeviation: 0
                comparedToCohorts: []
                beginningValue: 0
                endingValue: 0
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            projectedValues: []
          - attributeName: MISSED_RECURRING_LOAN_PAYMENTS
            reportedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: 0
                count: 732
                mean: 0
                median: 0
                min: 0
                max: 0
                standardDeviation: 0
                comparedToCohorts: []
                beginningValue: 0
                endingValue: 0
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            projectedValues: []
          - attributeName: PAYMENT_RISK_SCORE
            reportedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: 19825
                count: 732
                mean: 27.083333333333332
                median: 24
                min: -1
                max: 46
                standardDeviation: 8.739575902668523
                comparedToCohorts: []
                beginningValue: -1
                endingValue: 24
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            projectedValues: []
          - attributeName: ASSET_BALANCE
            reportedByTimePeriods:
            - timeIntervalType: HISTORICALLY
              periods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                sum: -900726.9199999999
                count: 732
                mean: -1230.501256830601
                median: -1192.56
                min: -3804.56
                max: 1234.44
                standardDeviation: 1628.527991127309
                comparedToCohorts: []
                beginningValue: -3804.56
                endingValue: 1234.44
              cohortBenchmarkPeriods:
              - startDate: '2022-09-18'
                endDate: '2024-09-18'
                cohortValues: []
            projectedValues: []
          streams:
          - id: e6dd352d-67d3-4a6c-a7a0-68f1e994bb22
            payor: '0'
            payee: John Smith
            cadence: 7
            status: inactive
            recency: 118
            earliestObservedDate: '2022-09-18T00:00:00'
            latestObservedDate: '2024-09-13T00:00:00'
            count: 100
            sum: 5050
            min: 1
            max: 100
            mean: 50.5
            median: 50.5
            standardDeviation: 29.011491975882016
            minimumCadence: 0
            maximumCadence: 58
            medianCadence: 4
            modeCadence: 2
            standardDeviationCadence: 9.261506907846133
            transactionIds:
            - '0'
            - '1'
            - '10'
            - '11'
            - '12'
            - '13'
            - '14'
            - '15'
            - '16'
            - '17'
            - '18'
            - '19'
            - '2'
            - '20'
            - '21'
            - '22'
            - '23'
            - '24'
            - '25'
            - '26'
            - '27'
            - '28'
            - '29'
            - '3'
            - '30'
    VOIEPayrollReportExample:
      summary: VOIE - Payroll Report
      value:
        id: 41h4nzppn37u-voiepayroll
        portfolioId: 9qud7dtuzbew-1-port
        gseEnabled: true
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        consumerId: 3f7ff2cf0ffb3d0cd59875e070c9b1d4
        consumerSsn: '6789'
        consumerDetails:
          id: 3f7ff2cf0ffb3d0cd59875e070c9b1d4
          firstName: John
          middleName: Doe
          lastName: Jane
          address: 123 Marple Street
          city: Anytown
          state: PA
          zip: '17101'
          phone: '5551234567'
          ssn: '1234'
          email: john.doe@example.com
        disputeStatement: Invalid data present.
        requesterName: Decisioning API
        endUser:
          name: ABC Apartments
          address: 123 Main St
          city: Murray
          state: UT
          zip: '84123'
          phone: 555-2106
          email: customerservice@example.com
          url: example.com
        type: voiePayroll
        reportStyle: credentialedPayroll
        status: success
        createdDate: 1579819592
        title: Mastercard Open Banking Verification of Income and Employment - Payroll
        constraints:
          payrollData:
            payrollAccountIds:
            - 018b8f10-fdf8-0ef7-ded5-34a17c34d86f
            payrollAggregatorResponseId: 4baxktu9wdda
          reportCustomFields:
            label: loanID
            value: '12345'
            shown: true
        employmentHistory:
          asOfDate: 1596175200
          employmentId: vkvxszcy7nc9c19d
          employerName: ACME INC
          payrollSource: argyle
          payrollProvider: Paychex
          employee:
            name: John Doe Smith
            givenName: John
            middleName: Doe
            familyName: Smith
            address:
            - address1: Address 1
              city: City
              state: TX
              zip: '99999'
          employment:
            employerName: ACME INC
            legalEntityId: '752760000'
            originalHireDate: 1527832800
            latestHireDate: 1527832800
            latestPayDate: 1596175200
            daysSinceLastPay: 10
            numberPayCadenceWithoutPay: 1
            employmentEndDate: 1527832800
            employmentDuration: P1Y6M0D
            employerAddress:
            - address1: Address 1
              city: City
              state: TX
              zip: '99999'
            employmentStatusCode: A
            employmentStatusName: Active
            workLevelCode: FT
            workLevelName: Full Time-Regular
            workLevelStatus: Full Time
            positionTitle: Shift Supervisor
            positionDuration: P1Y6M0D
          income:
            payFrequency: Weekly
            payType: Hourly
            basePayRate: 27.5
            annualIncome:
            - year: '2021'
              grossPayAmountYTD: 73925.12
              netPayAmountYTD: 73925.12
              basePayAmountYTD: 73925.12
              overtimePayAmountYTD: 100.01
            - year: '2020'
              grossPayAmountYTD: 73925.12
              netPayAmountYTD: 73925.12
              basePayAmountYTD: 73925.12
              overtimePayAmountYTD: 100.01
            - year: '2019'
              grossPayAmountYTD: 73925.12
              netPayAmountYTD: 73925.12
              basePayAmountYTD: 73925.12
              overtimePayAmountYTD: 100.01
            monthlyIncome:
              estimatedMonthlyBasePay: 2000
              estimatedMonthlyOvertimePay: 100
            directPayStatements:
            - payrollPayHistoryId: cy1a742k28
              lastPayPeriodIndicator: true
              mainPayStatementFields:
                payDate: 1596175200
                startDate: 1595138400
                endDate: 1595656800
                payPeriodHours: 40
                payFrequency: Weekly
                payType: Hourly
                grossPayAmount: 1888.75
                grossPayAmountYTD: 73925
                netPayAmount: 1401.95
                netPayAmountYTD: 73925
              earnings:
              - name: basePayAmount
                type: base
                rate: 27.5
                amount: 1100
                amountYTD: 5500
              deductions:
              - type: Federal tax
                amount: 143.45
              - type: State tax
                amount: 12.5
    BalancePersonalCraAnalyticsReportResponseExample:
      value:
        id: sd1j45yn37wr-barpcra
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        requesterName: Decisioning API
        endUser:
          name: ABC Apartments
          address: 123 Main St
          city: Murray
          state: UT
          zip: '84123'
          phone: 555-2106
          email: customerservice@example.com
          url: example.com
        title: Mastercard Open Banking Balance Analytics
        consumerId: 3f7ff2cf0ffb3d0cd59875e070c9b1d4
        consumerSsn: '1234'
        consumerDetails:
          id: 3f7ff2cf0ffb3d0cd59875e070c9b1d4
          firstName: John
          middleName: Doe
          lastName: Jane
          address: 123 Marple Street
          city: Anytown
          state: PA
          zip: '17101'
          phone: '5551234567'
          ssn: '1234'
          email: john.doe@example.com
        disputeStatement: Invalid data present.
        constraints:
          analyticsReportData:
            forCraPurpose: true
            timeIntervalTypes:
            - MONTHLY_CALENDAR
        type: barpcra
        status: success
        createdDate: 1579819592
        startDate: 1512594823
        endDate: 1575666823
        days: 730
        institutions:
        - id: '102105'
          name: FinBank Profiles
          urlHomeApp: http://www.finbank.com
          accounts:
          - id: '1111'
            ownerName: PATRICK & LORRAINE PURCHASER
            ownerAddress: 7195 BELMONT ST. PARLIN, NJ 08859
            ownerAsOfDate: 1577986990
            name: Checking
            number: XX1111
            type: checking
            aggregationStatusCode: '0'
            currentBalance: 100000
            availableBalance: 1000
            balanceDate: 1614880526
            transactions:
            - id: '00000001'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: '00000002'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: '00000003'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: '00000004'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            analytics:
              transactionalAttributes: []
              stateAttributes:
              - attributeName: ASSET_BALANCE
                reportedByTimePeriods:
                - timeIntervalType: MONTHLY_CALENDAR
                  periods:
                  - startDate: '2023-02-05'
                    endDate: '2023-02-28'
                    sum: 75517.99999999997
                    count: 24
                    mean: 3146.583333333333
                    median: 3145.2
                    min: 3145.2
                    max: 3178.4
                    standardDeviation: 6.776921621700182
                    beginningValue: 3145.2
                    endingValue: 3178.4
                  - startDate: '2023-03-01'
                    endDate: '2023-03-31'
                    sum: 95350.54000000005
                    count: 31
                    mean: 3075.823870967742
                    median: 3178.4
                    min: 2946.3
                    max: 3329.22
                    standardDeviation: 132.58604314877732
                    beginningValue: 3178.4
                    endingValue: 3329.22
              streams:
              - id: 2b96f6d4-4882-4db2-96c6-f89530a68f1c
                payor: TD AMERITRADE
                payee: John Smith
                cadence: 15
                recency: 124
                transactionIds:
                - '00000003'
                - '00000004'
                - '00000001'
              - id: dafc9b5d-762d-4f91-a429-f80573944bcd
                payor: John Smith
                payee: TD AMERITRADE
                cadence: 0
                recency: 139
                transactionIds:
                - '00000002'
          - id: '2222'
            ownerName: PATRICK & LORRAINE PURCHASER
            ownerAddress: 7195 BELMONT ST. PARLIN, NJ 08859
            ownerAsOfDate: 1577986990
            name: Checking
            number: XX1111
            type: checking
            aggregationStatusCode: '0'
            currentBalance: 100000
            availableBalance: 1000
            balanceDate: 1614880526
            transactions:
            - id: '00000005'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: '00000006'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: '00000007'
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            - id: 00000008
              amount: -81.7
              postedDate: 1614859200
              description: TMOBILE*AUTO PAY
              normalizedPayee: T-Mobile
              institutionTransactionId: '0000000000'
              category: Mobile Phone
            analytics:
              transactionalAttributes: []
              stateAttributes:
              - attributeName: ASSET_BALANCE
                reportedByTimePeriods:
                - timeIntervalType: MONTHLY_CALENDAR
                  periods:
                  - startDate: '2023-02-05'
                    endDate: '2023-02-28'
                    sum: 75517.99999999997
                    count: 24
                    mean: 3146.583333333333
                    median: 3145.2
                    min: 3145.2
                    max: 3178.4
                    standardDeviation: 6.776921621700182
                    beginningValue: 3145.2
                    endingValue: 3178.4
                  - startDate: '2023-03-01'
                    endDate: '2023-03-31'
                    sum: 95350.54000000005
                    count: 31
                    mean: 3075.823870967742
                    median: 3178.4
                    min: 2946.3
                    max: 3329.22
                    standardDeviation: 132.58604314877732
                    beginningValue: 3178.4
                    endingValue: 3329.22
              streams:
              - id: b838ffb3-2549-43b3-a1b1-50bc13438e0f
                payor: John Smith
                payee: Whole Foods
                cadence: 0
                recency: 124
                transactionIds:
                - '00000005'
                - 00000008
              - id: 54214633-39d7-43f4-9314-bae2ce3b6af9
                payor: John Smith
                payee: Walmart
                cadence: 0
                recency: 139
                transactionIds:
                - '00000006'
                - '00000007'
        customerAnalytics:
          transactionalAttributes: []
          stateAttributes:
          - attributeName: ASSET_BALANCE
            reportedByTimePeriods:
            - timeIntervalType: MONTHLY_CALENDAR
              periods:
              - startDate: '2023-02-05'
                endDate: '2023-02-28'
                sum: 75517.99999999997
                count: 24
                mean: 3146.583333333333
                median: 3145.2
                min: 3145.2
                max: 3178.4
                standardDeviation: 6.776921621700182
                beginningValue: 3145.2
                endingValue: 3178.4
              - startDate: '2023-03-01'
                endDate: '2023-03-31'
                sum: 95350.54000000005
                count: 31
                mean: 3075.823870967742
                median: 3178.4
                min: 2946.3
                max: 3329.22
                standardDeviation: 132.58604314877732
                beginningValue: 3178.4
                endingValue: 3329.22
          streams:
          - id: 2b96f6d4-4882-4db2-96c6-f89530a68f1c
            payor: TD AMERITRADE
            payee: John Smith
            cadence: 15
            recency: 124
            transactionIds:
            - '00000003'
            - '00000004'
            - '00000001'
          - id: dafc9b5d-762d-4f91-a429-f80573944bcd
            payor: John Smith
            payee: TD AMERITRADE
            cadence: 0
            recency: 139
            transactionIds:
            - '00000002'
          - id: b838ffb3-2549-43b3-a1b1-50bc13438e0f
            payor: John Smith
            payee: Whole Foods
            cadence: 0
            recency: 124
            transactionIds:
            - '00000005'
            - 00000008
          - id: 54214633-39d7-43f4-9314-bae2ce3b6af9
            payor: John Smith
            payee: Walmart
            cadence: 0
            recency: 139
            transactionIds:
            - '6010290887'
            - '6010290914'
    InvalidFieldExample:
      value:
        code: '10010'
        status: '400'
        message: Customer ID does not exist or does not belong to this partner
        user_message: One or more of the fields could not be validated. Please ensure you have entered the correct data.
        tags: ''
    CashflowBusinessNonCraAnalyticsReportResponseExample:
      value:
        id: x9j6c6kdkzzf-cfrbnoncra
        customerType: testing
        customerId: 3011077785
        requestId: ib6mjb9cxr
        requesterName: Open Banking API Tests
        createdDate: 1721818584
        title: Mastercard Open Banking Cash Flow Analytics
        type: cfrbnoncra
        status: success
        businessDetails:
          businessId: '48599'
          name: ABC Tires Inc - 1
          address:
            addressLine1: 2020 State Street
            addressLine2: Suite 301
            city: Salt Lake City
            state: Utah
            country: US
            postalCode: '84116'
        constraints:
          analyticsReportData:
            forCraPurpose: false
            forFtcPurpose: false
            applicantIsPersonalGuarantor: false
            timeIntervalTypes:
            - MONTHLY_CALENDAR
        startDate: 1658660184
        endDate: 1721818584
        days: 731
        institutions:
        - id: 170681
          name: FinBank P
          urlHomeApp: https://finbank.prod.fini.city/CCBankImageMFA/login.jsp
          accounts:
          - id: 3027530342
            ownerName: JNC PROPERTIES LLC
            ownerAddress: 1944 JAKETOWN RD DONNELLSON IL 62019
            ownerAsOfDate: 1721818584
            name: Business Investment
            number: '1101'
            type: investment
            aggregationStatusCode: 0
            currentBalance: 100000
            balanceDate: 1721818586
            transactions: []
            analytics: null
            currency: USD
          - id: 3027530343
            ownerName: NSF USER
            ownerAddress: 123 VINE ST MURRAY, UT 84123
            ownerAsOfDate: 1721818584
            name: NSF Checking
            number: '0111'
            type: checking
            aggregationStatusCode: 0
            currentBalance: 37700.65
            availableBalance: 38000.45
            balanceDate: 1721818587
            transactions:
            - id: 101402234950
              amount: -30
              postedDate: 1721131200
              description: Insufficient Funds Charge
              normalizedPayee: Insufficient
              institutionTransactionId: '0000000000'
              category: Low Balance
            - id: 101402234940
              amount: -34
              postedDate: 1662206400
              description: INSUFFICIENT FUNDS FEE FOR A $32
              memo: .46 RECURRING CARD PURCHASE - DE
              normalizedPayee: Insufficient
              institutionTransactionId: '0000000000'
              category: Low Balance
            - id: 101402234865
              amount: -90
              postedDate: 1661688000
              description: NON-SUFFICIENT FUNDS CHARGE;Branch Transaction
              normalizedPayee: Non-sufficient
              institutionTransactionId: '0000000000'
              category: Low Balance
            - id: 101402234891
              amount: -30
              postedDate: 1660651200
              description: CHK# AMT $. NSF CHARGE
              memo: CHK# 00 AMT $188.83 NSF CHARGE
              normalizedPayee: Nsf Charge
              institutionTransactionId: '0000000000'
              category: Low Balance
            analytics:
              transactionalAttributes:
              - aggregatedByTimePeriods:
                - periods:
                  - count: 0
                    endDate: '2022-07-31'
                    startDate: '2022-07-28'
                  - count: 0
                    endDate: '2022-08-31'
                    startDate: '2022-08-01'
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                attributeName: REVENUE
                streamIds: []
                transactionIds: []
              - attributeName: CASH_OUTFLOW
                aggregatedByTimePeriods:
                - periods:
                  - count: 0
                    endDate: '2022-07-31'
                    startDate: '2022-07-28'
                  - count: 5
                    endDate: '2022-08-31'
                    max: -24
                    mean: -42.6
                    median: -34
                    min: -90
                    standardDeviation: 26.847718711279736
                    startDate: '2022-08-01'
                    sum: -213
                  - count: 4
                    endDate: '2024-06-30'
                    max: -26.23
                    mean: -31.0575
                    median: -32
                    min: -34
                    standardDeviation: 3.7300435654292294
                    startDate: '2024-06-01'
                    sum: -124.23
                  - count: 3
                    endDate: '2024-07-24'
                    max: -28
                    mean: -30.666666666666668
                    median: -30
                    min: -34
                    standardDeviation: 3.0550504633038935
                    startDate: '2024-07-01'
                    sum: -92
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - fdf7f804-2273-41f8-8916-299e764c6209
                - 35528ad9-4102-4383-900f-d7fae5e62022
                transactionIds:
                - '101402234898'
                - '101402234868'
              - attributeName: CASH_INFLOW
                aggregatedByTimePeriods:
                - periods:
                  - count: 1
                    endDate: '2022-07-31'
                    max: 34
                    mean: 34
                    median: 34
                    min: 34
                    startDate: '2022-07-28'
                    sum: 34
                  - count: 0
                    endDate: '2022-08-31'
                    startDate: '2022-08-01'
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - b319af86-4675-4a8b-a93c-9b1dc8f6850f
                - 8b06140a-e3f3-4169-afa8-806a097f0109
                transactionIds:
                - '101402234916'
                - '101402234906'
              - attributeName: ALL_CASH_FLOWS
                aggregatedByTimePeriods:
                - periods:
                  - count: 1
                    endDate: '2022-07-31'
                    max: 34
                    mean: 34
                    median: 34
                    min: 34
                    startDate: '2022-07-28'
                    sum: 34
                  - count: 5
                    endDate: '2022-08-31'
                    max: -24
                    mean: -42.6
                    median: -34
                    min: -90
                    standardDeviation: 26.847718711279736
                    startDate: '2022-08-01'
                    sum: -213
                  - count: 4
                    endDate: '2024-06-30'
                    max: -26.23
                    mean: -31.0575
                    median: -32
                    min: -34
                    standardDeviation: 3.7300435654292294
                    startDate: '2024-06-01'
                    sum: -124.23
                  - count: 3
                    endDate: '2024-07-24'
                    max: -28
                    mean: -30.666666666666668
                    median: -30
                    min: -34
                    standardDeviation: 3.0550504633038935
                    startDate: '2024-07-01'
                    sum: -92
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - 8e77ae76-6405-4137-a3ec-7748d2baa66c
                - b319af86-4675-4a8b-a93c-9b1dc8f6850f
                transactionIds:
                - '101402234881'
                - '101402234939'
                - '101402234876'
              - attributeName: NSF_FEE_CHARGES
                aggregatedByTimePeriods:
                - periods:
                  - count: 0
                    endDate: '2022-07-31'
                    startDate: '2022-07-28'
                  - count: 5
                    endDate: '2022-08-31'
                    max: -24
                    mean: -42.6
                    median: -34
                    min: -90
                    standardDeviation: 26.847718711279736
                    startDate: '2022-08-01'
                    sum: -213
                  - count: 4
                    endDate: '2024-06-30'
                    max: -26.23
                    mean: -31.0575
                    median: -32
                    min: -34
                    standardDeviation: 3.7300435654292294
                    startDate: '2024-06-01'
                    sum: -124.23
                  - count: 3
                    endDate: '2024-07-24'
                    max: -28
                    mean: -30.666666666666668
                    median: -30
                    min: -34
                    standardDeviation: 3.0550504633038935
                    startDate: '2024-07-01'
                    sum: -92
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - 8e77ae76-6405-4137-a3ec-7748d2baa66c
                - 18f37c62-6783-4061-9c57-0d8a6b494c84
                - 35528ad9-4102-4383-900f-d7fae5e62022
                transactionIds:
                - '101402234950'
                - '101402234871'
                - '101402234914'
                - '101402234900'
              - attributeName: NSF_FEE_REVERSALS
                aggregatedByTimePeriods:
                - periods:
                  - count: 0
                    endDate: '2022-07-31'
                    startDate: '2022-07-28'
                  - count: 0
                    endDate: '2022-08-31'
                    startDate: '2022-08-01'
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds: []
                transactionIds: []
              stateAttributes:
              - attributeName: NET_CASH_FLOW
                reportedByTimePeriods:
                - periods:
                  - beginningValue: 34
                    count: 4
                    endDate: '2022-07-31'
                    endingValue: 0
                    max: 34
                    mean: 8.5
                    median: 0
                    min: 0
                    standardDeviation: 17
                    startDate: '2022-07-28'
                    sum: 34
                  - beginningValue: 0
                    count: 31
                    endDate: '2022-08-31'
                    endingValue: 0
                    max: 0
                    mean: -6.870967741935484
                    median: 0
                    min: -90
                    standardDeviation: 20.144051124312725
                    startDate: '2022-08-01'
                    sum: -213
                  - beginningValue: 0
                    count: 30
                    endDate: '2024-06-30'
                    endingValue: 0
                    max: 0
                    mean: -4.141
                    median: 0
                    min: -34
                    standardDeviation: 10.804814492016813
                    startDate: '2024-06-01'
                    sum: -124.23
                  - beginningValue: 0
                    count: 24
                    endDate: '2024-07-24'
                    endingValue: 0
                    max: 0
                    mean: -3.8333333333333335
                    median: 0
                    min: -34
                    standardDeviation: 10.3992753370719
                    startDate: '2024-07-01'
                    sum: -92
                  timeIntervalType: MONTHLY_CALENDAR
              streams:
              - cadence: 0
                id: 8e77ae76-6405-4137-a3ec-7748d2baa66c
                payee: insufficient
                payor: NSF USER
                recency: 8
                transactionIds:
                - '101402234950'
                - '101402234913'
              - cadence: 0
                id: b319af86-4675-4a8b-a93c-9b1dc8f6850f
                payee: NSF USER
                payor: clark energy (return)
                recency: 118
                transactionIds:
                - '101402234916'
            currency: USD
          - id: 3027530339
            ownerName: Roberta Prohaska
            ownerAddress: Salt Lake City
            ownerAsOfDate: 1721818584
            name: Checking
            number: '001111'
            type: checking
            aggregationStatusCode: 0
            currentBalance: 724.1
            availableBalance: 165
            balanceDate: 1721815841
            transactions:
            - id: 101402235536
              amount: -6.99
              postedDate: 1695297600
              description: 'SONIC #4017'
              memo: PURCHASE 09/19 EDGEWATER CO CARD 9268
              normalizedPayee: Sonic
              institutionTransactionId: '10190'
              category: Fast Food
            - id: 101402235535
              amount: -203.45
              postedDate: 1695297600
              description: FSI*XCEL ENERGY PM
              memo: PURCHASE 09/20 800-895-4999 CO CARD 9268
              normalizedPayee: Xcel Energy
              institutionTransactionId: '10189'
              category: Utilities
            - id: 101402235424
              amount: -37.86
              postedDate: 1658664000
              description: THE HOME DEPOT 1550
              memo: PURCHASE 07/22 LAKEWOOD CO CARD 9268
              normalizedPayee: Home Depot
              institutionTransactionId: '10041'
              category: Home Improvement
            - id: 101402235423
              amount: -21.05
              postedDate: 1658664000
              description: KING SOOP 1725 SHERIDA
              memo: PURCHASE 07/22 EDGEWATER CO CARD 9268
              normalizedPayee: Soop
              institutionTransactionId: '10040'
              category: Groceries
            analytics:
              transactionalAttributes:
              - attributeName: CASH_OUTFLOW
                aggregatedByTimePeriods:
                - periods:
                  - count: 9
                    endDate: '2022-07-31'
                    max: -5.24
                    mean: -29.672222222222224
                    median: -21.05
                    min: -92.95
                    standardDeviation: 30.24118912087361
                    startDate: '2022-07-24'
                    sum: -267.05
                  - count: 24
                    endDate: '2022-08-31'
                    max: -1.67
                    mean: -113.86583333333333
                    median: -23.865
                    min: -1150
                    standardDeviation: 297.5267452050636
                    startDate: '2022-08-01'
                    sum: -2732.78
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - 14a1be06-6ef8-4685-808c-a033ae2e27aa
                - 8617b764-f1db-4f38-9e24-b6a6c64e156f
                - ff2e773c-bc91-4343-88dd-3445aa3adede
                - dbac0ee8-faff-4d2d-9f78-fec2721f4420
                transactionIds:
                - '101402235485'
                - '101402244994'
                - '101402235495'
                - '101402244988'
              - attributeName: CASH_INFLOW
                aggregatedByTimePeriods:
                - periods:
                  - count: 4
                    endDate: '2022-07-31'
                    max: 261
                    mean: 188.5
                    median: 197
                    min: 99
                    standardDeviation: 70.40123104984268
                    startDate: '2022-07-24'
                    sum: 754
                  - count: 6
                    endDate: '2022-08-31'
                    max: 293
                    mean: 166.08333333333334
                    median: 171.75
                    min: 36
                    standardDeviation: 92.03826197113169
                    startDate: '2022-08-01'
                    sum: 996.5
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - ae2b5252-f1fb-4ba1-8d88-e13129cd627d
                - 33798f11-680c-4a1b-b48a-e6efb7d3e7a7
                - 6488c9b2-9aa3-41c6-beb3-44047988d8c2
                transactionIds:
                - '101402245000'
                - '101402245004'
                - '101402235457'
                - '101402244970'
              - attributeName: ALL_CASH_FLOWS
                aggregatedByTimePeriods:
                - periods:
                  - count: 13
                    endDate: '2022-07-31'
                    max: 261
                    mean: 37.457692307692305
                    median: -7.98
                    min: -92.95
                    standardDeviation: 113.28363364830818
                    startDate: '2022-07-24'
                    sum: 486.95
                  - count: 30
                    endDate: '2022-08-31'
                    max: 293
                    mean: -57.876
                    median: -18.72
                    min: -1150
                    standardDeviation: 290.928854635133
                    startDate: '2022-08-01'
                    sum: -1736.28
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - 9bbd2a04-60dd-4baf-a095-ba83f5dcd9c9
                - 20fc33d4-53c2-4bed-813f-1fa836aa5dc2
                - ecb3ee6a-a320-4b00-9666-28b0c4599652
                - d6d69f39-d941-4c93-9626-246ea390ce93
                transactionIds:
                - '101402245002'
                - '101402244983'
                - '101402235428'
                - '101402235513'
              - attributeName: REVENUE
                aggregatedByTimePeriods:
                - periods:
                  - count: 2
                    endDate: '2022-07-31'
                    max: 170
                    mean: 134.5
                    median: 134.5
                    min: 99
                    standardDeviation: 50.204581464244875
                    startDate: '2022-07-24'
                    sum: 269
                  - count: 4
                    endDate: '2022-08-31'
                    max: 293
                    mean: 168.125
                    median: 171.75
                    min: 36
                    standardDeviation: 107.42002839321911
                    startDate: '2022-08-01'
                    sum: 672.5
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds:
                - ae2b5252-f1fb-4ba1-8d88-e13129cd627d
                transactionIds:
                - '101402245004'
              - attributeName: NSF_FEE_CHARGES
                aggregatedByTimePeriods:
                - periods:
                  - count: 0
                    endDate: '2022-07-31'
                    startDate: '2022-07-24'
                  - count: 1
                    endDate: '2022-08-31'
                    max: -35
                    mean: -35
                    median: -35
                    min: -35
                    startDate: '2022-08-01'
                    sum: -35
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds: []
                transactionIds:
                - '101402244981'
                - '101402235478'
              - attributeName: NSF_FEE_REVERSALS
                aggregatedByTimePeriods:
                - periods:
                  - count: 0
                    endDate: '2022-07-31'
                    startDate: '2022-07-24'
                  - count: 0
                    endDate: '2022-08-31'
                    startDate: '2022-08-01'
                  - count: 0
                    endDate: '2024-06-30'
                    startDate: '2024-06-01'
                  - count: 0
                    endDate: '2024-07-24'
                    startDate: '2024-07-01'
                  timeIntervalType: MONTHLY_CALENDAR
                streamIds: []
                transactionIds: []
              stateAttributes:
              - attributeName: NET_CASH_FLOW
                reportedByTimePeriods:
                - periods:
                  - beginningValue: -143.14000000000001
                    count: 8
                    endDate: '2022-07-31'
                    endingValue: 0
                    max: 477.02
                    mean: 60.86875
                    median: 0
                    min: -143.14000000000001
                    standardDeviation: 188.17233176285887
                    startDate: '2022-07-24'
                    sum: 486.95
                  - beginningValue: 0
                    count: 31
                    endDate: '2022-08-31'
                    endingValue: -21.82
                    max: 293
                    mean: -56.009032258064515
                    median: 0
                    min: -1160.88
                    standardDeviation: 296.6524763799648
                    startDate: '2022-08-01'
                    sum: -1736.28
                  - beginningValue: 0
                    count: 30
                    endDate: '2024-06-30'
                    endingValue: 0
                    max: 0
                    mean: 0
                    median: 0
                    min: 0
                    standardDeviation: 0
                    startDate: '2024-06-01'
                    sum: 0
                  - beginningValue: 0
                    count: 24
                    endDate: '2024-07-24'
                    endingValue: 0
                    max: 0
                    mean: 0
                    median: 0
                    min: 0
                    standardDeviation: 0
                    startDate: '2024-07-01'
                    sum: 0
                  timeIntervalType: MONTHLY_CALENDAR
              streams:
              - cadence: 190
                id: 14a1be06-6ef8-4685-808c-a033ae2e27aa
                payee: sonic
                payor: Roberta Prohaska
                recency: 307
                transactionIds:
                - '101402235507'
                - '101402235523'
                - '101402235536'
              - cadence: 0
                id: 0505c1e8-56ed-4911-8097-f466dab0cbbc
                payee: xcel energy
                payor: Roberta Prohaska
                recency: 307
                transactionIds:
                - '101402235535'
            currency: USD
          oauthEnabled: false
        customerAnalytics:
          stateAttributes:
          - attributeName: NET_CASH_FLOW
            reportedByTimePeriods:
            - periods:
              - beginningValue: -207.26
                count: 8
                endDate: '2022-07-31'
                endingValue: -347.03999999999996
                max: 931.73
                mean: 44.493750000000006
                median: 0
                min: -347.03999999999996
                standardDeviation: 394.7503333550569
                startDate: '2022-07-24'
                sum: 355.95000000000005
              - beginningValue: 321
                count: 31
                endDate: '2022-08-31'
                endingValue: -21.82
                max: 680.61
                mean: -6.811290322580643
                median: 0
                min: -1187.86
                standardDeviation: 374.42814628659113
                startDate: '2022-08-01'
                sum: -211.14999999999992
              - beginningValue: 0
                count: 30
                endDate: '2024-06-30'
                endingValue: 0
                max: 3390
                mean: -50.952
                median: 0
                min: -4974.33
                standardDeviation: 1117.177412711036
                startDate: '2024-06-01'
                sum: -1528.56
              - beginningValue: 0
                count: 24
                endDate: '2024-07-24'
                endingValue: 0
                max: 3390
                mean: -62.34708333333333
                median: 0
                min: -4974.33
                standardDeviation: 1254.1757580473845
                startDate: '2024-07-01'
                sum: -1496.33
              timeIntervalType: MONTHLY_CALENDAR
          streams:
          - cadence: 0
            id: 8e77ae76-6405-4137-a3ec-7748d2baa66c
            payee: insufficient
            payor: NSF USER
            recency: 8
            transactionIds:
            - '101402234950'
            - '101402234913'
          - cadence: 0
            id: 7f7eade6-3fca-4c4e-890b-f967cc9b75bf
            payee: Roberta Prohaska
            payor: buy
            recency: 434
            transactionIds:
            - '101402235188'
            - '101402244844'
          - cadence: 15
            id: 2c136d57-2810-45c3-a40e-64adc9e274fb
            payee: Roberta Prohaska
            payor: buy other
            recency: 437
            transactionIds:
            - '101402244845'
            - '101402250223'
          transactionalAttributes:
          - aggregatedByTimePeriods:
            - periods:
              - count: 7
                endDate: '2022-07-31'
                max: 170
                mean: 129.42857142857142
                median: 99
                min: 99
                standardDeviation: 37.95109635156426
                startDate: '2022-07-24'
                sum: 906
              - count: 43
                endDate: '2022-08-31'
                max: 688
                mean: 192.03488372093022
                median: 144
                min: 36
                standardDeviation: 159.56348174483338
                startDate: '2022-08-01'
                sum: 8257.5
              - count: 0
                endDate: '2024-06-30'
                startDate: '2024-06-01'
              - count: 0
                endDate: '2024-07-24'
                startDate: '2024-07-01'
              timeIntervalType: MONTHLY_CALENDAR
            attributeName: REVENUE
            streamIds:
            - bf1a9f5f-b81a-47fc-a9cf-0a3665ce8d42
            - d78f6528-75ed-450e-ac06-6f4d425ee68a
            transactionIds:
            - '101402250300'
            - '101402250301'
            - '101402250308'
            - '101402250315'
          - attributeName: CASH_OUTFLOW
            aggregatedByTimePeriods:
            - periods:
              - count: 24
                endDate: '2022-07-31'
                max: -2.47
                mean: -38.21041666666667
                median: -21.68
                min: -167.86
                standardDeviation: 52.73374305262789
                startDate: '2022-07-24'
                sum: -917.05
              - count: 52
                endDate: '2022-08-31'
                max: -2.5
                mean: -72.04788461538462
                median: -23.494999999999997
                min: -1150
                standardDeviation: 206.50877599294435
                startDate: '2022-08-01'
                sum: -3746.49
              - count: 10
                endDate: '2024-06-30'
                max: -26.23
                mean: -509.856
                median: -300
                min: -1358.11
                standardDeviation: 597.0070650838229
                startDate: '2024-06-01'
                sum: -5098.5599999999995
              - count: 9
                endDate: '2024-07-24'
[...]
