openapi: 3.2.0
info:
  title: Open Finance Consumer Foresight API
  description: 'OpenAPI specification for Finicity APIs.


    Open Finance (formerly Open Banking) solutions in the US are provided by

    Finicity, a Mastercard company.'
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/open-finance-us/documentation/support/
  version: 1.43.0
servers:
- url: https://api.finicity.com
  description: Production
security:
- FinicityAppKey: []
  FinicityAppToken: []
tags:
- name: Consumer Foresight
  description: Generate consumer foresight analytics reports
paths:
  /decisioning/customers/{customerId}/reports/payment-risk-insights/userTypes/{userType}:
    post:
      tags:
      - Consumer Foresight
      summary: Generate Payment Risk Insights Report for the Customer
      description: "Generate a Payment Risk Insights report (PRI). This service retrieves up to 2 years of transaction history from connected accounts to generate a Payment Risk Insights report for a personal or small business customer. To deliver insights into a consumer or small business's financial health and payment risk\n\nPayment Risk Insights generates a single 2 digit score that helps predict the probability that a consumer or small business will experience a future payment risk (missed recurring payment). The Score represents four segments of risk ranging from low to high. The report also includes key financial health attributes (cash flow, balances, spending, patterns etc.), and payment risk attributes (NSF occurrences, withdrawals, and recurring expenses, etc.). \n\nBefore calling this API, a consumer or business may need to be created for the given customer ID based on the user type.\n\nThis is a premium service. The billable event is the successful generation of a PRI report. \n\nSupported account types are checking and savings.\n\n_Supported regions_: ![\U0001F1FA\U0001F1F8](https://flagcdn.com/20x15/us.png)"
      operationId: GeneratePaymentRiskInsightsReport
      parameters:
      - $ref: '#/components/parameters/CustomerIdParameter'
      - $ref: '#/components/parameters/UserTypeParameter'
      - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GeneratePaymentRiskInsightsReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GeneratePaymentRiskInsightsReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/customers/{customerId}/reports/foresight-analytics/userTypes/{userType}:
    post:
      tags:
      - Consumer Foresight
      summary: Generate foresight analytics non-CRA report for the customer - Personal
      description: 'Generate a foresight analytics non-CRA report for a given customer. The report includes benchmarking and forecasting data for a customer based on inputs of account and transaction data as permitted by the customer, and segments (e.g., postal code) provided by the partner. A consumer is not required to generate this report.


        If no account type of checking, credit card, or savings is found, the service will return an HTTP 400 Bad Request.


        This is a premium service, billable per every successful API call for non-testing customers. A successful call to this API will generate a foresight analytics report which can be retrieved via Get Report by Customer.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: GenerateForesightAnalyticsNonCraReport
      parameters:
      - $ref: '#/components/parameters/CustomerIdParameter'
      - $ref: '#/components/parameters/PersonalUserTypeParameter'
      - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateForesightAnalyticsNonCraReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateForesightAnalyticsNonCraReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/reports/foresight-analytics/userTypes/{userType}:
    post:
      tags:
      - Consumer Foresight
      summary: Generate Non CRA Foresight Analytics Report Using 1st/3rd Party Transaction Data
      description: 'Generate a non-CRA Foresight Analytics report for the provided customer. The report includes benchmarking and forecasting insights into the customer''s spending habits compared against other Mastercard profiles across various inputted segments.


        To use third-party data permissioned via Data Connect, provide a `customerId` value in the request body.


        To use first-party data you submitted via Data Enrichment, provide the `externalCustomerId` you supplied when uploading the data.


        You can use third-party data, first-party data, or both in the same request.


        Supported account types are checking, savings and credit card. A consumer is not required to generate this report.


        This is a premium service, billable per every successful API call. A successful call to this API will generate a Foresight Analytics report which is retrieved by calling Get Report by Report ID.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)'
      operationId: GenerateForesightAnalyticsFirstThirdPartyNonCraReport
      parameters:
      - $ref: '#/components/parameters/PersonalUserTypeParameter'
      - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateForesightAnalyticsFirstThirdPartyNonCraReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateForesightAnalyticsFirstThirdPartyNonCraReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/SecurityFreezeErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
components:
  examples:
    MissingFinicityAppKeyExample:
      value:
        code: '10026'
        message: Missing parameter (Finicity-App-Key)
    ResellerInvalidDateRangeGreaterThan31DaysExample:
      value:
        code: '10100'
        message: 'RESELLER_BILLING_REPORT: Invalid date range - It is more than 31 days'
    ResellerNoReportForPartnerExample:
      value:
        code: '10100'
        message: Cannot find resellerBilling reports with id 2445581559892.
    ResellerInvalidDateRangeGreaterThanEndDateExample:
      value:
        code: '10100'
        message: 'RESELLER_BILLING_REPORT: Invalid date range - startDate is greaterThan endDate'
    BothCraAndFtcPurposeTrueExample:
      value:
        code: '10100'
        status: '400'
        message: forCRAPurpose and forFTCPurpose may not both be TRUE.
    SecurityFreezeErrorExample:
      value:
        code: '10405'
        status: '403'
        message: The active security freeze for this consumer exists.
    GenerateForesightAnalyticsFirstThirdPartyNonCraReportRequestExample:
      value:
        customerId: 1001483250
        externalCustomerId: 1234abcd
        fromDate: 1580558400
        accountIds: 1000535275 1000535276
        analyticsReportData:
          forCraPurpose: false
          timeIntervalTypes:
          - MONTHLY_CALENDAR
          segments:
            geolocation:
            - label: POSTAL_CODE
              value: 84123
          analytics:
          - benchmarking
          - forecasting
          income: 1000
          age: 26
    MissingFieldExample:
      value:
        code: '10005'
        message: Missing parameter (partnerId)
    GeneratePaymentRiskInsightsBusinessReportFtcRequestBodyExample:
      value:
        analyticsReportData:
          forCraPurpose: false
          forFtcPurpose: true
          applicantIsPersonalGuarantor: false
          timeIntervalTypes:
          - MONTHLY_CALENDAR
        reportCustomFields:
        - label: loanID
          value: '12345'
          shown: true
    ResellerInvalidDateRangeLessThanZeroExample:
      value:
        code: '10100'
        message: 'RESELLER_BILLING_REPORT: Invalid date range - start or end date less than or equal to zero'
    InvalidConsumerEmailExample:
      value:
        code: '10100'
        message: Invalid format for field consumer.email.
    GeneratePaymentRiskInsightsBusinessReportFtcResponseExample:
      value:
        id: sd1j45yn37wr-pribftc
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        requesterName: Decisioning API
        createdDate: 1579819592
        title: Mastercard Open Banking Payment Risk Insights
        constraints:
          analyticsReportData:
            forCraPurpose: false
            forFtcPurpose: true
            applicantIsPersonalGuarantor: false
            timeIntervalTypes:
            - MONTHLY_CALENDAR
          accountIds:
          - '1000535275'
          - '1000535276'
          fromDate: 1673034682
          reportCustomFields:
          - label: loanID
            value: '12345'
            shown: true
          - label: loanType
            value: car
            shown: false
          - label: vendorName
            value: PSC Finance
            shown: false
        type: pribftc
        status: inProgress
    BadCredentialsExample:
      value:
        code: '24302'
        message: Bad credentials
    InvalidForesightReportRequestExample:
      value:
        code: '10100'
        message: At least one of customerId or externalCustomerId must be provided; both are also allowed.
    NoRegisteredApplicationExample:
      value:
        code: '50051'
        message: No registered partner applications found.
    ExpiredFinicityAppTokenExample:
      value:
        code: '10023'
        message: Expired (Finicity-App-Token)
    GeneratePaymentRiskInsightsPersonalCRAReportResponseExample:
      value:
        id: sd1j45yn37wr-pripcra
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        requesterName: Decisioning API
        createdDate: 1579819592
        title: Mastercard Open Banking Payment Risk Insights
        consumerId: 3f7ff2cf0ffb3d0cd59875e070c9b1d4
        consumerSsn: '1234'
        constraints:
          analyticsReportData:
            forCraPurpose: true
            timeIntervalTypes:
            - MONTHLY_CALENDAR
          accountIds:
          - '1000535275'
          - '1000535276'
          fromDate: 1673034682
          reportCustomFields:
          - label: loanID
            value: '12345'
            shown: true
          - label: loanType
            value: car
            shown: false
          - label: vendorName
            value: PSC Finance
            shown: false
        type: pripcra
        status: inProgress
    InvalidFieldExample:
      value:
        code: '10010'
        status: '400'
        message: Customer ID does not exist or does not belong to this partner
        user_message: One or more of the fields could not be validated. Please ensure you have entered the correct data.
        tags: ''
    InvalidValueExample:
      value:
        code: '1618'
        message: Negative or invalid value entered. Please use positive numbers only.
    InvalidConsumerSSNExample:
      value:
        code: '10100'
        message: Invalid format for field consumer.ssn.  Required format is 9 digits.
    InvalidFinicityAppTokenExample:
      value:
        code: '10022'
        message: Invalid (Finicity-App-Token)
    NoAccountForInstitutionLoginIdExample:
      value:
        code: '38007'
        message: Customer does not have any accounts associated with institutionLoginId.
    CustomerNotFoundExample:
      value:
        code: '14001'
        message: Customer not found.
    GeneratePaymentRiskInsightsPersonalNonCRAReportRequestBodyExample:
      value:
        analyticsReportData:
          forCraPurpose: false
          timeIntervalTypes:
          - MONTHLY_CALENDAR
        reportCustomFields:
        - label: loanID
          value: '12345'
          shown: true
    ResellerNoDataForPartnerExample:
      value:
        code: '10100'
        message: 'RESELLER_BILLING_REPORT: Reports not found 2445583947903 resellerBilling reports'
    ResellerInvalidDateRangeExample:
      value:
        code: '10100'
        message: 'RESELLER_BILLING_REPORT: Invalid date range - start or end date is empty or null'
    ExpiredTokenExample:
      value:
        code: '10023'
        message: Expired (Finicity-App-Token)
    ResourceNotFoundExample:
      value:
        code: '14001'
        message: Resource not found.
    ConsumerNotFoundExample:
      value:
        code: '10100'
        message: Cannot find consumer with id 1234.
    GenericBadRequestExample:
      value:
        code: '14020'
        message: Bad request.
    NoConsumerForCustomerExample:
      value:
        code: '10100'
        message: Cannot find consumer for customer with id 5011115315."
    GeneratePaymentRiskInsightsPersonalNonCRAReportResponseExample:
      value:
        id: sd1j45yn37wr-pripnoncra
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        requesterName: Decisioning API
        createdDate: 1579819592
        title: Mastercard Open Banking Payment Risk Insights
        constraints:
          analyticsReportData:
            forCraPurpose: false
            timeIntervalTypes:
            - MONTHLY_CALENDAR
          accountIds:
          - '1000535275'
          - '1000535276'
          fromDate: 1673034682
          reportCustomFields:
          - label: loanID
            value: '12345'
            shown: true
          - label: loanType
            value: car
            shown: false
          - label: vendorName
            value: PSC Finance
            shown: false
        type: pripnoncra
        status: inProgress
    InvalidConsumerPhoneExample:
      value:
        code: '10100'
        message: Invalid format for field consumer.phone.
    GeneratePaymentRiskInsightsBusinessNonCRAReportResponseExample:
      value:
        id: sd1j45yn37wr-pribnoncra
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        requesterName: Decisioning API
        createdDate: 1579819592
        title: Mastercard Open Banking Payment Risk Insights
        constraints:
          analyticsReportData:
            forCraPurpose: false
            forFtcPurpose: false
            applicantIsPersonalGuarantor: false
            timeIntervalTypes:
            - MONTHLY_CALENDAR
          accountIds:
          - '1000535275'
          - '1000535276'
          fromDate: 1673034682
          reportCustomFields:
          - label: loanID
            value: '12345'
            shown: true
          - label: loanType
            value: car
            shown: false
          - label: vendorName
            value: PSC Finance
            shown: false
        type: pribnoncra
        status: inProgress
    GenerateForesightAnalyticsFirstThirdPartyNonCraReportResponseExample:
      value:
        id: 247th25xwyhd-farpbfnoncra
        customerType: testing
        customerId: 1001483250
        externalCustomerId: 1234abcd
        requestId: y3pic4xhda
        requesterName: Intuit Facade Demo (KEEP)
        createdDate: 1739824892
        title: Mastercard Open Banking Foresight Analytics
        reportPin: XYeyLA
        type: farpbfnoncra
        status: inProgress
        constraints:
          customerId: 1001483250
          externalCustomerId: 1234abcd
          analyticsReportData:
            forCraPurpose: false
            timeIntervalTypes:
            - MONTHLY_CALENDAR
            segments:
              geolocation:
              - label: POSTAL_CODE
                value: 84123
            analytics:
            - benchmarking
            - forecasting
            income: 1000
            age: 26
    AccountTypeNotSupportedExample:
      value:
        code: '14020'
        message: Bad request. (Account type not supported).
    GenerateForesightAnalyticsNonCraReportResponseExample:
      value:
        id: 247th25xwyhd-farpbfnoncra
        customerType: testing
        customerId: 1001483250
        requestId: y3pic4xhda
        requesterName: Intuit Facade Demo (KEEP)
        createdDate: 1739824892
        title: Mastercard Open Banking Foresight Analytics
        reportPin: XYeyLA
        type: farpbfnoncra
        status: inProgress
        constraints:
          analyticsReportData:
            forCraPurpose: false
            timeIntervalTypes:
            - MONTHLY_CALENDAR
            segments:
              geolocation:
              - label: POSTAL_CODE
                value: 84123
            analytics:
            - benchmarking
            - forecasting
            income: 1000
            age: 26
    PermissiblePurposeCodeExample:
      value:
        code: '10100'
        status: '400'
        message: Permissible Purpose Code is required
    GenerateForesightAnalyticsNonCraReportRequestExample:
      value:
        fromDate: 1580558400
        accountIds: 1000535275 1000535276
        analyticsReportData:
          forCraPurpose: false
          timeIntervalTypes:
          - MONTHLY_CALENDAR
          segments:
            geolocation:
            - label: POSTAL_CODE
              value: 84123
          analytics:
          - benchmarking
          - forecasting
          income: 1000
          age: 26
    GeneratePaymentRiskInsightsBusinessCRAReportRequestBodyExample:
      value:
        analyticsReportData:
          forCraPurpose: true
          forFtcPurpose: false
          applicantIsPersonalGuarantor: true
          timeIntervalTypes:
          - MONTHLY_CALENDAR
        reportCustomFields:
        - label: loanID
          value: '12345'
          shown: true
    ResellerPartnerNotAuthorizedExample:
      value:
        code: '10100'
        message: 'RESELLER_BILLING_REPORT: Partner is not authorized to access resellerBilling reports for partnerId 2445583947903'
    GeneratePaymentRiskInsightsBusinessNonCRAReportRequestBodyExample:
      value:
        analyticsReportData:
          forCraPurpose: false
          forFtcPurpose: false
          applicantIsPersonalGuarantor: false
          timeIntervalTypes:
          - MONTHLY_CALENDAR
        reportCustomFields:
        - label: loanID
          value: '12345'
          shown: true
    CustomerReportLimitExceedExample:
      value:
        code: '20400'
        message: The max report generation limit was exceeded for this customer.
    GeneratePaymentRiskInsightsPersonalCRAReportRequestBodyExample:
      value:
        analyticsReportData:
          forCraPurpose: true
          timeIntervalTypes:
          - MONTHLY_CALENDAR
        reportCustomFields:
        - label: loanID
          value: '12345'
          shown: true
    GeneratePaymentRiskInsightsBusinessCRAReportResponseExample:
      value:
        id: sd1j45yn37wr-pribcra
        customerType: active
        customerId: 1275320
        requestId: 7a7qyps2iy
        requesterName: Decisioning API
        createdDate: 1579819592
        title: Mastercard Open Banking Payment Risk Insights
        consumerId: 3f7ff2cf0ffb3d0cd59875e070c9b1d4
        consumerSsn: '1234'
        constraints:
          analyticsReportData:
            forCraPurpose: true
            forFtcPurpose: false
            applicantIsPersonalGuarantor: true
            timeIntervalTypes:
            - MONTHLY_CALENDAR
          accountIds:
          - '1000535275'
          - '1000535276'
          fromDate: 1673034682
          reportCustomFields:
          - label: loanID
            value: '12345'
            shown: true
          - label: loanType
            value: car
            shown: false
          - label: vendorName
            value: PSC Finance
            shown: false
        type: pribcra
        status: inProgress
    InvalidExperienceFieldExample:
      value:
        code: '10010'
        status: '400'
        message: '"experience" must be a valid GUID'
        user_message: One or more of the fields could not be validated. Please ensure you have entered the correct data.
        tags: ''
    MissingFinicityAppTokenExample:
      value:
        code: '10024'
        message: Missing parameter (Finicity-App-Token)
  schemas:
    SecurityFreezeErrorMessage:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: 'An error code for security freeze. Useful links: [API Errors](https://developer.mastercard.com/open-finance-us/documentation/errors/), [Aggregation Status Codes](https://developer.mastercard.com/open-finance-us/documentation/products/manage/aggregation-status-codes/).'
          format: int32
          example: 10405
        status:
          type: string
          description: A status code
          example: '403'
        message:
          type: string
          description: An error message
          example: The active security freeze for this consumer exists.
    EndUserUrl:
      type: string
      description: Reseller end user URL
      minLength: 2
      maximum: 999
      example: testurl.com
    ReportType:
      description: 'A report type. Possible values:


        * `voi`


        * `voa`


        * `voaHistory`


        * `history`


        * `voieTxVerify`


        * `voieWithReport`


        * `voieWithInterview`


        * `voieWithStatement`


        * `paystatement`


        * `preQualVoa`


        * `assetSummary`


        * `voie`


        * `transactions`


        * `statement`


        * `voiePayroll`


        * `voeTransactions`


        * `farpbfnoncra`


        * `voePayroll`


        * `cfrp`


        * `cfrb`


        * `barpcra`


        * `barpnoncra`


        * `barbcra`


        * `barbftc`


        * `barbnoncra`


        * `cfrpcra`


        * `cfrpnoncra`


        * `cracfrbcra`


        * `cfrbnoncra`


        * `cfrbftc`


        * `phrbcra`


        * `phrbnoncra`


        * `phrbftc`


        * `sbcaanalyticsnoncra`


        * `sbcabenchmarksnoncra`


        * `pripcra`


        * `pripnoncra`


        * `pribcra`


        * `pribnoncra`


        * `pribftc`

        '
      type: string
      example: voi
    ZipCode:
      type: string
      description: A ZIP code
      example: '84123'
    ExternalCustomerId:
      type: string
      description: External Customer ID is a unique identifier assigned to the customer by the data holder. This field allows you to map the customer (and transactions) back to your dataset and to provide the link to Mastercard's dataset that was requested to be enriched. This ID must be obfuscated through cryptographically strong hashing using SHA-2 or SHA-3 methods. Do not send plaintext ids to Mastercard. Provide this identifier if you want the Mastercard enriched dataset to be used as input to this report.
      minLength: 1
      maxLength: 100
      example: '1005061234'
    ReportCustomField:
      type: object
      properties:
        label:
          type: string
          description: The name of the custom field
          example: loanID
        value:
          type: string
          description: The value of the custom field
          example: '123456'
        shown:
          type: boolean
          description: If the custom field will show on the PDF or not
          example: true
    VOIReportConstraintsOut:
      type: object
      properties:
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
        incomeStreamConfidenceMinimum:
          $ref: '#/components/schemas/IncomeStreamConfidenceMinimum'
    NumericCustomerId:
      type: integer
      format: int64
      description: A customer ID represented as a number. See Add Customer API for how to create a customer ID.
      example: 1005061234
    TransactionsReportConstraintsOut:
      type: object
      properties:
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
        toDate:
          $ref: '#/components/schemas/UnixDate'
        includePending:
          $ref: '#/components/schemas/IncludePending'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        findTransaction:
          $ref: '#/components/schemas/FindTransactionConstraints'
    ForesightAnalyticsReportFirstThirdPartyConstraints:
      allOf:
      - $ref: '#/components/schemas/ForesightAnalyticsReportConstraints'
      - type: object
        properties:
          customerId:
            $ref: '#/components/schemas/NumericCustomerId'
          externalCustomerId:
            $ref: '#/components/schemas/ExternalCustomerId'
    ConsumerId:
      type: string
      description: A consumer ID. See Create Consumer API for how to create a consumer ID.
      example: 0bf46322c167b562e6cbed9d40e19a4c
    PayStatementData:
      description: Data to be included within the pay statement report
      required:
      - assetIds
      type: object
      properties:
        assetIds:
          description: A list of pay statement asset IDs
          type: array
          items:
            $ref: '#/components/schemas/AssetId'
        extractEarnings:
          $ref: '#/components/schemas/ExtractEarnings'
        extractDeductions:
          $ref: '#/components/schemas/ExtractDeductions'
        extractDirectDeposit:
          $ref: '#/components/schemas/ExtractDirectDeposit'
    EmailAddress:
      type: string
      description: An email address
      example: myname@mycompany.com
    VOAIncomeReportIncomeFromDate:
      type: integer
      description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://developer.mastercard.com/open-finance-us/documentation/errors/best-practices/).


        By default, the income history is set to 24 months, however, a partner can change the transaction history by setting the `incomeFromDate` parameter.'
      format: int64
      example: 1607450357
    ForesightAnalyticsFirstThirdPartyReportAck:
      required:
      - id
      - requestId
      - requesterName
      - createdDate
      - title
      - type
      - status
      - reportPin
      - constraints
      allOf:
      - $ref: '#/components/schemas/BaseReportAck'
      - type: object
        properties:
          externalCustomerId:
            $ref: '#/components/schemas/ExternalCustomerId'
          reportPin:
            $ref: '#/components/schemas/ReportPin'
          constraints:
            $ref: '#/components/schemas/ForesightAnalyticsReportFirstThirdPartyConstraints'
    UserType:
      type: string
      description: Type of User, Allowed values Personal/Business
      example: business
    FindTransactionDescriptionMemo:
      type: string
      description: "A string to return transactions that have an exact match to Description/Memo.</br>\n- Description/Memo</br>\n  - Found in the PDF report for reach transactions.</br>\n  - A combination of **description** and **memo** from the JSON version\nof the report.</br>\n"
      example: Paycheck
    FindTransactionAmountTo:
      type: number
      description: 'A decimal value to return transactions with **amount** less than or equal to **findTransactionAmountTo**.</br>

        - If both **findTransactionAmountFrom** and **findTransactionAmountTo** are present. Then transactions with  **amount** between (inclusive) both values will be returned.

        '
      example: 100
    Age:
      type: integer
      description: Age is an optional parameter. This data is used to determine the age band the customer falls into.
      format: int64
      example: 25
      minimum: 0
      maximum: 125
    GeoLocation:
      type: array
      items:
        $ref: '#/components/schemas/GeoLocationItems'
      description: Geolocation array of objects;
    ReportPin:
      type: string
      description: A unique key returned per report for consumer Portal
      example: 2398jk
    TimeIntervalType:
      description: Possible values for strategies in which attributes may be aggregated and reported across varying time intervals. Allowed Values - MONTHLY_CALENDAR - MONTHLY_ROLLING_30
      example: MONTHLY_CALENDAR
      type: string
      default: MONTHLY_CALENDAR
    PayStatementReportConstraints:
      required:
      - paystatementReport
      type: object
      properties:
        paystatementReport:
          $ref: '#/components/schemas/PayStatementData'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
    VOAReportConstraintsOut:
      type: object
      properties:
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        toDate:
          $ref: '#/components/schemas/UnixDate'
        showNsf:
          $ref: '#/components/schemas/ShowNsf'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
    AddressLine1:
      type: string
      description: Address line 1
      example: 434 W Ascension Way
    ReportAccountIds:
      description: An array of account IDs to be included in the report (all accounts will be included if not set)
      type: array
      items:
        $ref: '#/components/schemas/AccountId'
      example:
      - '5011648377'
      - '5011648378'
      - '5011648379'
    PrequalificationReportConstraintsOut:
      type: object
      properties:
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        showNsf:
          $ref: '#/components/schemas/ShowNsf'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
    VOIEWithStatementData:
      required:
      - assetIds
      type: object
      properties:
        assetIds:
          description: A list of pay statement asset IDs
          type: array
          items:
            $ref: '#/components/schemas/AssetId'
        extractEarnings:
          $ref: '#/components/schemas/ExtractEarnings'
        extractDeductions:
          $ref: '#/components/schemas/ExtractDeductions'
        extractDirectDeposit:
          $ref: '#/components/schemas/ExtractDirectDeposit'
    IncomeStreamConfidenceMinimum:
      type: integer
      description: Include income streams in the report, based on the income stream's confidence score. For example, Use the value 50 to include only income streams with a confidence score of 50 or higher.
      format: int32
      example: 50
    MiddleName:
      type: string
      description: The middle name of the account holder
      example: L
    StatementReportConstraints:
      required:
      - statementReportData
      type: object
      properties:
        statementReportData:
          $ref: '#/components/schemas/StatementData'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
    IncludePending:
      type: boolean
      description: If pending transactions must be included
      example: true
      default: false
    PhoneNumber:
      type: string
      description: A phone number (max length 15).
      example: 1-801-984-4200
    ForesightAnalyticsReportData:
      description: Parameters supplied by the client requesting the analytics.
      properties:
        forCraPurpose:
          type: boolean
          description: Field to indicate if the requested report is for CRA or NONCRA. For small business lending or other similar business use cases, pass the value as “true” for purposes of this field.
          example: true
        segments:
          type: object
          description: Requested segments for attribute values.
          properties:
            geolocation:
              $ref: '#/components/schemas/GeoLocation'
        analytics:
          description: Analytics information for the requested report. The allowed values are benchmarking & forecasting. If it is null, default to benchmarking and forecasting
          example:
          - benchmarking
          - forecasting
          minItems: 2
          maxItems: 2
          items:
            $ref: '#/components/schemas/AnalyticsType'
          type: array
        timeIntervalTypes:
          description: Requested time interval for attribute values.
          example:
          - MONTHLY_CALENDAR
          maxItems: 2
          items:
            $ref: '#/components/schemas/TimeIntervalType'
          type: array
        income:
          $ref: '#/components/schemas/Income'
        age:
          $ref: '#/components/schemas/Age'
      type: object
    GeoLocationItems:
      type: object
      properties:
        label:
          type: string
          description: The name of the Geolocation details. Possible values are POSTAL_CODE
          example: POSTAL_CODE
        value:
          type: string
          description: The value of the Geolocation field
          example: '85123'
    ErrorMessage:
      required:
      - code
      type: object
      properties:
        code:
          type: object
          description: 'An error code (can be returned as a number or a string). Useful links: [Common API Status Codes](https://developer.mastercard.com/open-finance-us/documentation/errors/best-practices/#common-api-status-codes), [Aggregation Status Codes](https://developer.mastercard.com/open-finance-us/documentation/products/manage/account-aggregation/#aggregation-status-codes).'
          example: '10001'
        status:
          type: string
          description: A status code
          example: '401'
        title:
          type: string
          description: A title for the error
          example: Connecting accounts error
        level:
          type: string
          description: An error level
          example: error
        message:
          type: string
          description: An error message
          example: Invalid authorization credentials
        user_message:
          type: string
          description: Some more details about the error
          example: The session has expired or is invalid
        assetId:
          $ref: '#/components/schemas/AssetId'
        accountId:
          $ref: '#/components/schemas/AccountId'
        externalTransactionId:
          type: string
          description: A unique identifier for the transaction that assists in linking data back to your systems.
          example: MAC1005061234
          minLength: 1
          maxLength: 100
        tags:
          type: string
          description: Categories that the error belongs to
          example: AGG
    SocialSecurityNumberLastDigits:
      type: string
      description: Last 4 digits of a SSN
      example: '9999'
    ReportCustomFields:
      type: array
      items:
        $ref: '#/components/schemas/ReportCustomField'
      description: 'The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


        Designate up to 5 custom fields that you''d like associated with the report when it''s generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

        * "true": (default) display the custom field in the PDF report

        * "false": don''t display the custom field in the PDF report


        For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


        All custom fields display in the Reseller Billing API.'
    ShowNsf:
      type: boolean
      description: 'Include the non-sufficient funds (NSF) summary JSON and the NSF summary PDF section in the report. Data included:

        * Account


        * Total number of NSF funds


        * Days since the most recent NFS funds fee'
      example: false
    AccountId:
      type: string
      description: An account ID
      example: '5011648377'
    PaymentRiskInsightsReportAck:
      required:
      - id
      - customerType
      - customerId
      - requestId
      - requesterName
      - createdDate
      - title
      - type
      - status
      - reportPin
      - constraints
      allOf:
      - $ref: '#/components/schemas/BaseReportAck'
      - type: object
        properties:
          reportPin:
            $ref: '#/components/schemas/ReportPin'
          constraints:
            $ref: '#/components/schemas/PaymentRiskInsightsReportConstraints'
    PayrollDataRetrievalId:
      type: string
      description: An ID to identify the data retrieved from the payroll providers for the report.
      example: hahvhe2k0000
    VOAWithIncomeReportConstraintsOut:
      type: object
      properties:
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        showNsf:
          $ref: '#/components/schemas/ShowNsf'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
        incomeFromDate:
          $ref: '#/components/schemas/VOAIncomeReportIncomeFromDate'
        voaiPdfDepositView:
          type:
          - boolean
          - 'null'
          description: Provide an alternate PDF view of deposit transactions group by income stream in PDF.
          example: true
        incomeStreamConfidenceMinimum:
          $ref: '#/components/schemas/IncomeStreamConfidenceMinimum'
    ReportRequestId:
      type: string
      description: Finicity indicator to track all activity associated with this report
      example: cjqm4wtdcn
    EmploymentId:
      type: string
      description: This is a Mastercard assigned ID to the employment record. It remains consistent for that employment record, even if the report is refreshed. It can be used to limit the employment records that are returned in the report.
      example: 123v3bv2s5n
    ExtractDeductions:
      type: boolean
      description: Field to indicate whether to extract the deductions on all pay statements
      default: false
      example: true
    VOIEWithTXVerifyReportConstraintsOut:
      required:
      - voieWithInterviewData
      type: object
      properties:
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        voieWithInterviewData:
          $ref: '#/components/schemas/VOIEWithInterviewData'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
        incomeStreamConfidenceMinimum:
          $ref: '#/components/schemas/IncomeStreamConfidenceMinimum'
    CashFlowReportConstraintsOut:
      type: object
      properties:
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        showNsf:
          $ref: '#/components/schemas/ShowNsf'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
        incomeStreamConfidenceMinimum:
          $ref: '#/components/schemas/IncomeStreamConfidenceMinimum'
    AnalyticsReportData:
      description: Parameters supplied by the client requesting the analytics.
      properties:
        forCraPurpose:
          type: boolean
          description: Field to indicate if the requested report is for CRA or NONCRA. For small business lending or other similar business use cases, pass the value as “true” for purposes of this field.
          example: true
        applicantIsPersonalGuarantor:
          type: boolean
          description: Field to indicate if the business owner will personally guarantee the loan. If true, a consumer record will be required.
          example: true
        forFtcPurpose:
          type: boolean
          description: Field to indicate if the requested report is for FTC purpose. Only applicable to business reports.
          example: false
        timeIntervalTypes:
          description: Requested time interval for attribute values.
          example:
          - MONTHLY_CALENDAR
          maxItems: 2
          items:
            $ref: '#/components/schemas/TimeIntervalType'
          type: array
      type: object
    FindTransactionAmountFrom:
      type: number
      description: 'A decimal value to return transactions with **amount** greater than or equal to **findTransactionAmountFrom**.</br>

        - If both **findTransactionAmountFrom** and **findTransactionAmountTo** are present. Then transactions with  **amount** between (inclusive) both values will be returned.

        '
      example: 100
    LastName:
      type: string
      description: The last name of the account holder
      example: Smith
    Income:
      type: integer
      description: "Income is an optional parameter. It is the dollar amount for the customer's annual\n        household income and is used to determine the income band the\ncustomer falls into."
      format: int64
      example: 1000
      minimum: 0
    TxVerifyInterview:
      required:
      - assetId
      type: object
      properties:
        assetId:
          $ref: '#/components/schemas/AssetId'
        accounts:
          $ref: '#/components/schemas/ReportAccountIds'
    VOETransactionsReportConstraintsOut:
      type: object
      properties:
        reportId:
          $ref: '#/components/schemas/ReportId'
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
        incomeStreamConfidenceMinimum:
          $ref: '#/components/schemas/IncomeStreamConfidenceMinimum'
    PayrollDataOut:
      type: object
      properties:
        payrollDataRetrievalId:
          $ref: '#/components/schemas/PayrollDataRetrievalId'
        payrollAggregatorResponseId:
          $ref: '#/components/schemas/PayrollDataRetrievalId'
        consentMethod:
          type: string
          description: Client-collected consent payroll report tagging.
          example: Written Generic - Finicity Set
        employmentIds:
          type: array
          description: An array of employmentIds
          items:
            $ref: '#/components/schemas/EmploymentId'
        payrollAccountIds:
          type: array
          description: An array of payrollAccountIds
          items:
            $ref: '#/components/schemas/PayrollAccountId'
        reportId:
          $ref: '#/components/schemas/ReportId'
    ConsumerEndUser:
      description: Reseller end user information. This is populated only when the report requires a consumer record to be generated and the consumer object includes end user details. The partner is expected to include endUser details when creating a consumer if the end user of the consumer reports is another entity than the partner generating the report.
      required:
      - name
      - address
      - city
      - state
      - zip
      - phone
      type: object
      properties:
        name:
          $ref: '#/components/schemas/FirstName'
        address:
          $ref: '#/components/schemas/AddressLine1'
        city:
          $ref: '#/components/schemas/City'
        state:
          $ref: '#/components/schemas/State'
        zip:
          $ref: '#/components/schemas/ZipCode'
        phone:
          $ref: '#/components/schemas/PhoneNumber'
        email:
          $ref: '#/components/schemas/EmailAddress'
        url:
          $ref: '#/components/schemas/EndUserUrl'
    FindTransactionConstraints:
      description: Parameters used to return transactions matching the given criteria. The presence of multiple parameters will be treated as an **AND**  function.
      type: object
      properties:
        findTransactionDescriptionMemo:
          $ref: '#/components/schemas/FindTransactionDescriptionMemo'
        findTransactionAmountFrom:
          $ref: '#/components/schemas/FindTransactionAmountFrom'
        findTransactionAmountTo:
          $ref: '#/components/schemas/FindTransactionAmountTo'
        findTransactionCategory:
          $ref: '#/components/schemas/FindTransactionCategory'
    DisputeStatement:
      description: A consumer-provided statement describing the nature of an unresolved dispute. This field is populated only if a consumer dispute remains unresolved, and the consumer has requested that a statement be included in their report.
      type: string
      minLength: 1
      maxLength: 2000
      example: Statement dispute text
    ReportStatus:
      type: string
      description: 'A report generation status. Possible values:


        * `inProgress`


        * `success`


        * `failure`

        '
      example: inProgress
    AssetId:
      type: string
      description: An asset ID. Generated by Data Connect or by using the Store Customer Pay Statement API.
      example: 097545c5-1c2a-4f20-a5ef-77f0820344c9-2018601178
    AnalyticsType:
      description: Analytics type. Allowed Values are benchmarking and forecasting.
      example: benchmarking
      type: string
    ForesightAnalyticsReportConstraints:
      type: object
      properties:
        analyticsReportData:
          $ref: '#/components/schemas/ForesightAnalyticsReportData'
        accountIds:
          $ref: '#/components/schemas/ReportAccountIdsString'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
    VOIEWithInterviewData:
      required:
      - txVerifyInterview
      type: object
      properties:
        txVerifyInterview:
          description: An array of `TxVerifyInterview` objects
          type: array
          items:
            $ref: '#/components/schemas/TxVerifyInterview'
        extractEarnings:
          $ref: '#/components/schemas/ExtractEarnings'
        extractDeductions:
          $ref: '#/components/schemas/ExtractDeductions'
        extractDirectDeposit:
          $ref: '#/components/schemas/ExtractDirectDeposit'
    CustomerType:
      type: string
      description: The type of customer ("active" or "testing" or "" for all types)
      example: active
    NumericAccountId:
      type: integer
      format: int64
      description: An account ID represented as a number
      example: 5011648377
    ExtractDirectDeposit:
      type: boolean
      description: Field to indicate whether to extract the direct deposits on all pay statements
      default: true
      example: true
    PartnerName:
      type: string
      description: Name of a Finicity partner
      example: Finicity Test API
    PayrollReportConstraintsOut:
      required:
      - payrollData
      type: object
      properties:
        payrollData:
          $ref: '#/components/schemas/PayrollDataOut'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        payStatementsFromDate:
          $ref: '#/components/schemas/UnixDate'
    ForesightAnalyticsReportAck:
      required:
      - id
      - customerType
      - customerId
      - requestId
      - requesterName
      - createdDate
      - title
      - type
      - status
      - reportPin
      - constraints
      allOf:
      - $ref: '#/components/schemas/BaseReportAck'
      - type: object
        properties:
          reportPin:
            $ref: '#/components/schemas/ReportPin'
          constraints:
            $ref: '#/components/schemas/ForesightAnalyticsReportConstraints'
    VOIEReportConstraints:
      required:
      - voieWithStatementData
      type: object
      properties:
        voieWithStatementData:
          $ref: '#/components/schemas/VOIEWithStatementData'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
      description: The request details from the report generation that were used to generate the report
    PaymentRiskInsightsReportConstraints:
      type: object
      properties:
        analyticsReportData:
          $ref: '#/components/schemas/PaymentRiskInsightsReportData'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        accountIds:
          $ref: '#/components/schemas/ReportAccountIdsString'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
    AnalyticsReportConstraintsOut:
      type: object
      properties:
        analyticsReportData:
          $ref: '#/components/schemas/AnalyticsReportData'
        accountIds:
          $ref: '#/components/schemas/ReportAccountIds'
        reportCustomFields:
          $ref: '#/components/schemas/ReportCustomFields'
        fromDate:
          $ref: '#/components/schemas/UnixDate'
    FindTransactionCategory:
      type: array
      description: 'An array of **categories** to return transactions with an exact match to the array of **category**. Limit of 10.

        '
      maxItems: 10
      items:
        type: string
      example:
      - Paycheck
      - Groceries
    ConsumerDetails:
      description: Details about the consumer. Populated if the report requires a consumer record to be generated.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ConsumerId'
        firstName:
          $ref: '#/components/schemas/FirstName'
        middleName:
          $ref: '#/components/schemas/MiddleName'
        lastName:
          $ref: '#/components/schemas/LastName'
        address:
          $ref: '#/components/schemas/AddressLine1'
        city:
          $ref: '#/components/schemas/City'
        state:
          $ref: '#/components/schemas/State'
        zip:
          $ref: '#/components/schemas/ZipCode'
        phone:
          $ref: '#/components/schemas/PhoneNumber'
        ssn:
          $ref: '#/components/schemas/SocialSecurityNumberLastDigits'
        email:
          $ref: '#/components/schemas/EmailAddress'
    ExtractEarnings:
      type: boolean
      description: Field to indicate whether to extract the earnings on all pay statements
      default: true
      example: true
    ReportTitle:
      type: string
      description: Title of the report
      example: Finicity Asset Ready Report (CRA)
    State:
      type: string
      description: State
      example: UT
    PaymentRiskInsightsReportData:
      description: Parameters supplied by the client requesting the analytics.
      required:
      - forCraPurpose
      properties:
        forCraPurpose:
          type: boolean
          description: 'Required field to indicate if the requested report is for CRA or NONCRA. If partner does not pass in a value, the report will not successfully generate and return error "CRA Flag is missing"


            forCraPurpose = false, to generate a pribnoncra, pribftc and pripnoncra report type


            forCraPurpose = true, to generate a pribcra and pripcra report type'
          example: true
        forFtcPurpose:
          type: boolean
          description: 'Optional field to indicate if the requested report is for FTC. For small business lending or other similar business use cases, pass the value as "true" for purposes of this field. If no value is passed, forFtcPurpose = null


            Partner will pass forFtcPurpose = false, to generate a pribnoncra and pribcra report type


            Partner will pass forFtcPurpose = null, to generate a pripnoncra and pripcra report type


            Partner will pass forFtcPurpose = true, to generate a pribftc report type'
          example: true
        timeIntervalTypes:
          description: Requested time interval for attribute values.
          example:
          - MONTHLY_CALENDAR
          maxItems: 2
          items:
            $ref: '#/components/schemas/TimeIntervalType'
          type: array
        applicantIsPersonalGuarantor:
          type: boolean
          description: 'Optional field to indicate if the business owner will personally guarantee the loan. If true, a consumer record will be required. If partner does not pass in a value, we will assign a default value of "null".


            Partner will pass applicantIsPersonalGuarantor = false, to generate report type pribnoncra, pribftc


            Partner will pass applicantIsPersonalGuarantor = null, to generate a pripnoncra, and pripcra or not pass a value for this field


            Partner will pass applicantIsPersonalGuarantor = true, to generate a pribcra report type'
          example: true
      type: object
    FirstName:
      type: string
      description: The first name of the account holder
      example: John
    ReportId:
      type: string
      description: A report ID
      example: u4hstnnak45g
    StatementData:
      required:
      - accountId
      type: object
      properties:
        accountId:
          $ref: '#/components/schemas/NumericAccountId'
        statementIndex:
          type: integer
          description: Index of the statement to include in the report. Request statements from 1-24. By default, 1 is the most recent statement. Increase the index value to count back (by month) and retrieve its most recent statement.
          format: int32
          example: 1
          default: 1
          maximum: 24
    ReportAccountIdsString:
      type: string
      description: A whitespace-separated list of account IDs to be included in the report (all accounts will be included if not set)
      example: 5011648377 5011648378 5011648379
    ReportCreatedDate:
      type: integer
      description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://developer.mastercard.com/open-finance-us/documentation/errors/best-practices/). Note: If the report is retrieved on a day other than the day it was generated, on the header of the PDF version of the report there will be a "Retrieved Date" populated.'
      format: int64
      example: 1607450357
    BaseReportAck:
      description: Properties shared by all generated reports
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ReportId'
        customerType:
          $ref: '#/components/schemas/CustomerType'
        customerId:
          $ref: '#/components/schemas/NumericCustomerId'
        requestId:
          $ref: '#/components/schemas/ReportRequestId'
        requesterName:
          $ref: '#/components/schemas/PartnerName'
        endUser:
          $ref: '#/components/schemas/ConsumerEndUser'
        createdDate:
          $ref: '#/components/schemas/ReportCreatedDate'
        title:
          $ref: '#/components/schemas/ReportTitle'
        consumerId:
          $ref: '#/components/schemas/ConsumerId'
        consumerSsn:
          $ref: '#/components/schemas/SocialSecurityNumberLastDigits'
        consumerDetails:
          $ref: '#/components/schemas/ConsumerDetails'
        disputeStatement:
          $ref: '#/components/schemas/DisputeStatement'
        type:
          $ref: '#/components/schemas/ReportType'
        status:
          $ref: '#/components/schemas/ReportStatus'
        constraints:
          anyOf:
          - $ref: '#/components/schemas/AnalyticsReportConstraintsOut'
          - $ref: '#/components/schemas/ForesightAnalyticsReportConstraints'
          - $ref: '#/components/schemas/CashFlowReportConstraintsOut'
          - $ref: '#/components/schemas/VOIEWithTXVerifyReportConstraintsOut'
          - $ref: '#/components/schemas/VOIEReportConstraints'
          - $ref: '#/components/schemas/StatementReportConstraints'
          - $ref: '#/components/schemas/TransactionsReportConstraintsOut'
          - $ref: '#/components/schemas/VOAReportConstraintsOut'
          - $ref: '#/components/schemas/VOAWithIncomeReportConstraintsOut'
          - $ref: '#/components/schemas/PrequalificationReportConstraintsOut'
          - $ref: '#/components/schemas/VOIReportConstraintsOut'
          - $ref: '#/components/schemas/PayrollReportConstraintsOut'
          - $ref: '#/components/schemas/VOETransactionsReportConstraintsOut'
          - $ref: '#/components/schemas/PayStatementReportConstraints'
        errors:
          description: In case errors occurred during the report generation
          type: array
          items:
            $ref: '#/components/schemas/ErrorMessage'
    UnixDate:
      type: integer
      description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://developer.mastercard.com/open-finance-us/documentation/errors/best-practices/).'
      format: int64
      example: 1607450357
    CustomerId:
      type: string
      description: A customer ID. See Add Customer API for how to create a customer ID.
      example: '1005061234'
    City:
      type: string
      description: City
      example: Murray
    PayrollAccountId:
      type: string
      description: "The payrollAccountIds for the Credentialed Payroll accounts the consumer\n        has connected.  Will be used to constrain the report to only\ninclude the\n        specified accounts.  Required if the consumer has connected\ntheir\n        accounts previously and report generation was intentionally\ndelayed for\n        later."
      example: 018b8f10-fdf8-0ef7-ded5-34a17c34d86f
  responses:
    GenerateForesightAnalyticsNonCraReportResponse:
      description: 'The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don''t use a callback URL, Get Report returns a minimal report with the following status: ''inProgress''. Repeat the call every 20 seconds until Get Report returns a different status.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForesightAnalyticsReportAck'
          examples:
            GenerateForesightAnalyticsNonCraReportResponseExample:
              $ref: '#/components/examples/GenerateForesightAnalyticsNonCraReportResponseExample'
    GeneratePaymentRiskInsightsReportResponse:
      description: 'The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don''t use a callback URL, Get Report returns a minimal report with the following status: ''inProgress''. Repeat the call every 20 seconds until Get Report returns a different status.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRiskInsightsReportAck'
          examples:
            GeneratePaymentRiskInsightsPersonalCRAReportResponseExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsPersonalCRAReportResponseExample'
            GeneratePaymentRiskInsightsBusinessCRAReportResponseExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsBusinessCRAReportResponseExample'
            GeneratePaymentRiskInsightsPersonalNonCRAReportResponseExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsPersonalNonCRAReportResponseExample'
            GeneratePaymentRiskInsightsBusinessNonCRAReportResponseExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsBusinessNonCRAReportResponseExample'
            GeneratePaymentRiskInsightsBusinessReportFtcResponseExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsBusinessReportFtcResponseExample'
    BadRequestErrorResponse:
      description: The request was rejected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            PermissiblePurposeCodeExample:
              $ref: '#/components/examples/PermissiblePurposeCodeExample'
            InvalidForesightReportRequestExample:
              $ref: '#/components/examples/InvalidForesightReportRequestExample'
            BothCraAndFtcPurposeTrueExample:
              $ref: '#/components/examples/BothCraAndFtcPurposeTrueExample'
            MissingFieldExample:
              $ref: '#/components/examples/MissingFieldExample'
            InvalidFieldExample:
              $ref: '#/components/examples/InvalidFieldExample'
            InvalidExperienceFieldExample:
              $ref: '#/components/examples/InvalidExperienceFieldExample'
            GenericBadRequestExample:
              $ref: '#/components/examples/GenericBadRequestExample'
            AccountTypeNotSupportedExample:
              $ref: '#/components/examples/AccountTypeNotSupportedExample'
            ResellerPartnerNotAuthorizedExample:
              $ref: '#/components/examples/ResellerPartnerNotAuthorizedExample'
            ResellerInvalidDateRangeExample:
              $ref: '#/components/examples/ResellerInvalidDateRangeExample'
            ResellerInvalidDateRangeLessThanZeroExample:
              $ref: '#/components/examples/ResellerInvalidDateRangeLessThanZeroExample'
            ResellerInvalidDateRangeGreaterThanEndDateExample:
              $ref: '#/components/examples/ResellerInvalidDateRangeGreaterThanEndDateExample'
            ResellerInvalidDateRangeGreaterThan31DaysExample:
              $ref: '#/components/examples/ResellerInvalidDateRangeGreaterThan31DaysExample'
            CustomerReportLimitExceedExample:
              $ref: '#/components/examples/CustomerReportLimitExceedExample'
            InvalidConsumerSSNExample:
              $ref: '#/components/examples/InvalidConsumerSSNExample'
            InvalidConsumerPhoneExample:
              $ref: '#/components/examples/InvalidConsumerPhoneExample'
            InvalidConsumerEmailExample:
              $ref: '#/components/examples/InvalidConsumerEmailExample'
            InvalidValue:
              $ref: '#/components/examples/InvalidValueExample'
    UnauthorizedErrorResponse:
      description: The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            ExpiredTokenExample:
              $ref: '#/components/examples/ExpiredTokenExample'
            MissingFinicityAppKeyExample:
              $ref: '#/components/examples/MissingFinicityAppKeyExample'
            MissingFinicityAppTokenExample:
              $ref: '#/components/examples/MissingFinicityAppTokenExample'
            InvalidFinicityAppTokenExample:
              $ref: '#/components/examples/InvalidFinicityAppTokenExample'
            ExpiredFinicityAppTokenExample:
              $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
            BadCredentialsExample:
              $ref: '#/components/examples/BadCredentialsExample'
        text/plain:
          schema:
            type: string
            example: Invalid (Finicity-App-Key)
    GenerateForesightAnalyticsFirstThirdPartyNonCraReportResponse:
      description: 'The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don''t use a callback URL, Get Report returns a minimal report with the following status: ''inProgress''. Repeat the call every 20 seconds until Get Report returns a different status.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForesightAnalyticsFirstThirdPartyReportAck'
          examples:
            GenerateForesightAnalyticsNonCraReportResponseExample:
              $ref: '#/components/examples/GenerateForesightAnalyticsFirstThirdPartyNonCraReportResponseExample'
    ResourceNotFoundErrorResponse:
      description: The resource doesn't exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            ConsumerNotFoundExample:
              $ref: '#/components/examples/ConsumerNotFoundExample'
            NoAccountForInstitutionLoginIdExample:
              $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
            CustomerNotFoundExample:
              $ref: '#/components/examples/CustomerNotFoundExample'
            NoConsumerForCustomerExample:
              $ref: '#/components/examples/NoConsumerForCustomerExample'
            ResourceNotFoundExample:
              $ref: '#/components/examples/ResourceNotFoundExample'
            NoRegisteredApplicationExample:
              $ref: '#/components/examples/NoRegisteredApplicationExample'
            ResellerNoDataForPartnerExample:
              $ref: '#/components/examples/ResellerNoDataForPartnerExample'
            ResellerNoReportForPartnerExample:
              $ref: '#/components/examples/ResellerNoReportForPartnerExample'
    SecurityFreezeErrorResponse:
      description: The active security freeze for this consumer exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecurityFreezeErrorMessage'
          examples:
            SecurityFreezeErrorExample:
              $ref: '#/components/examples/SecurityFreezeErrorExample'
  requestBodies:
    GenerateForesightAnalyticsFirstThirdPartyNonCraReportRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForesightAnalyticsReportFirstThirdPartyConstraints'
          examples:
            GenerateForesightAnalyticsNonCraReportRequestExample:
              $ref: '#/components/examples/GenerateForesightAnalyticsFirstThirdPartyNonCraReportRequestExample'
    GeneratePaymentRiskInsightsReportRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRiskInsightsReportConstraints'
          examples:
            GeneratePaymentRiskInsightsPersonalCRAReportRequestBodyExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsPersonalCRAReportRequestBodyExample'
            GeneratePaymentRiskInsightsBusinessCRAReportRequestBodyExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsBusinessCRAReportRequestBodyExample'
            GeneratePaymentRiskInsightsPersonalNonCRAReportRequestBodyExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsPersonalNonCRAReportRequestBodyExample'
            GeneratePaymentRiskInsightsBusinessNonCRAReportRequestBodyExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsBusinessNonCRAReportRequestBodyExample'
            GeneratePaymentRiskInsightsBusinessReportFtcRequestBodyExample:
              $ref: '#/components/examples/GeneratePaymentRiskInsightsBusinessReportFtcRequestBodyExample'
    GenerateForesightAnalyticsNonCraReportRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForesightAnalyticsReportConstraints'
          examples:
            GenerateForesightAnalyticsNonCraReportRequestExample:
              $ref: '#/components/examples/GenerateForesightAnalyticsNonCraReportRequestExample'
  parameters:
    ReportCallbackUrlParameter:
      name: callbackUrl
      in: query
      required: false
      description: A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code.
      schema:
        type: string
        example: https://finicity-test/webhook
    UserTypeParameter:
      description: 'UserType indicates if the request is for a business or personal use case, Allowed values: business/personal.'
      name: userType
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UserType'
      example: personal
    CustomerIdParameter:
      description: A customer ID
      name: customerId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/CustomerId'
      example: '1005061234'
    PersonalUserTypeParameter:
      description: 'UserType indicates if the request is for a personal use case, Allowed values: personal.'
      name: userType
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UserType'
      example: personal
  securitySchemes:
    FinicityAppKey:
      name: Finicity-App-Key
      type: apiKey
      in: header
      description: The "Finicity-App-Key" from the developer dashboard
    FinicityAppToken:
      name: Finicity-App-Token
      type: apiKey
      in: header
      description: A token returned by the `/authentication` API
